Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Fix: [AEA-5935] - privacy notice (#1713)
  .github/workflows/run_regression_tests.yml
  packages/cpt-ui/__tests__/App.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
Due: lint-cpt-ui, lint-githubactions

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

[AEA-6163] test rum logging
  packages/cpt-ui/src/helpers/logger.tsx
Due: lint-cpt-ui

add secret
  package-lock.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/SharedSecrets.ts
  packages/cdk/resources/api/apiFunctions.ts
  packages/cdk/resources/api/oauth2Functions.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cognito/package.json
  packages/cognito/src/authorizeMock.ts
  packages/cognito/src/tokenMock.ts
  packages/common/authFunctions/package.json
  packages/common/authFunctions/src/authenticateRequest.ts
  packages/common/doHSClient/package.json
  packages/common/doHSClient/src/doHSClient.ts
Due: lint-cdk, lint-cognito, lint-authFunctions, lint-doHSClient

fix test
  packages/cognito/tests/test_authorizeMock.test.ts
  packages/common/authFunctions/tests/test_authenticateRequest.test.ts
Due: lint-cognito, lint-authFunctions

fix policy
  packages/cdk/resources/api/apiFunctions.ts
Due: lint-cdk

skip tests #skip-qc
  packages/common/doHSClient/tests/test_doHSClient.test.ts
Due: lint-doHSClient

fix outh lambda #skip-qc
  packages/cdk/resources/api/oauth2Functions.ts
Due: lint-cdk

fix test
  packages/prescriptionDetailsLambda/tests/test_getPatientDetails.test.ts
  packages/prescriptionDetailsLambda/tests/test_prescriptionService.test.ts
  packages/prescriptionDetailsLambda/vitest.config.ts
Due: none

fix lint
  packages/prescriptionDetailsLambda/tests/test_getPatientDetails.test.ts
Due: none

add trivy yaml
  trivy.yaml
Due: none

fix test
  packages/cognito/jest.debug.config.ts
  packages/cognito/tests/test_authorizeMock.test.ts
Due: lint-cognito

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

Chore: [AEA-0000] - move some packages to vitest (#1681)
  .vscode/eps-prescription-tracker-ui.code-workspace
  Makefile
  package-lock.json
  package.json
  packages/cognito/.jest/setEnvVars.js
  packages/cognito/jest.config.ts
  packages/cognito/jest.debug.config.ts
  packages/cognito/package.json
  packages/cognito/tests/test_authorize.test.ts
  packages/cognito/tests/test_authorizeMock.test.ts
  packages/cognito/tests/test_callback.test.ts
  packages/cognito/tests/test_callbackMock.test.ts
  packages/cognito/tests/test_rewriteBody.test.ts
  packages/cognito/tests/test_token.cis2.test.ts
  packages/cognito/tests/test_token.failure.test.ts
  packages/cognito/tests/test_token.mock.test.ts
  packages/cognito/vitest.config.ts
  packages/common/authFunctions/.jest/setEnvVars.js
  packages/common/authFunctions/package.json
  packages/common/authFunctions/tests/test_apigeeUtils.test.ts
  packages/common/authFunctions/tests/test_authenticateRequest.test.ts
  packages/common/authFunctions/tests/test_authenticationConcurrentAwareMiddleware.test.ts
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
  packages/common/authFunctions/tests/test_cis2TokenHelpers.test.ts
  packages/common/authFunctions/tests/test_constructSignedJWTBody.test.ts
  packages/common/authFunctions/tests/test_userInfoHelpers.test.ts
  packages/common/authFunctions/vitest.config.ts
  packages/prescriptionDetailsLambda/.jest/setEnvVars.js
  packages/prescriptionDetailsLambda/jest.config.ts
  packages/prescriptionDetailsLambda/jest.debug.config.ts
  packages/prescriptionDetailsLambda/package.json
  packages/prescriptionDetailsLambda/tests/test_extensionUtils.test.ts
  packages/prescriptionDetailsLambda/tests/test_getPatientDetails.test.ts
  packages/prescriptionDetailsLambda/tests/test_handler.test.ts
  packages/prescriptionDetailsLambda/tests/test_prescriptionService.test.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
  packages/prescriptionDetailsLambda/vitest.config.ts
  sonar-project.properties
  vitest.shared.config.ts
Due: lint-cognito, lint-authFunctions

Notes added by 'git notes add'
  cd417127e0c09ac9829e5ddcf48a1bce361dcaa7
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Don't pollute state with null values. Set signingOut prior to calling sign out to avoid redirections
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Remove log line
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Convert to a func #skip-qc
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Test adjustments
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
Due: lint-cpt-ui

Update tracker user info test for error condition
  packages/cpt-ui/__tests__/AccessProvider.updateTrackerUserInfo.test.tsx
Due: lint-cpt-ui

Remove unnecessary state setting
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Reset tests as updateSigningOutStatus is no longer required
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/App.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

App test from main
  packages/cpt-ui/__tests__/App.test.tsx
Due: lint-cpt-ui

Fix: [AEA-5833] - Correct which pages shown on invalid session check (#1747)
  packages/cpt-ui/__tests__/AccessProvider.updateTrackerUserInfo.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Don't pollute state with null values. Set signingOut prior to calling sign out to avoid redirections
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Remove unnecessary state setting
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Introduce a loading screen to the blocked renders
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

Incorporate new loading page checks into existing block children tests
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/jest.setup.ts
Due: lint-cpt-ui
