Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update react-router-dom
  package-lock.json
  packages/cpt-ui/package.json
Due: lint-cpt-ui

add trivyignore
  .trivyignore.yaml
  trivy.yaml
Due: none

move cognito to vitest
  package-lock.json
  packages/cognito/package.json
  packages/cognito/tests/test_authorize.test.ts
  packages/cognito/tests/test_authorizeMock.test.ts
  packages/cognito/tests/test_callback.test.ts
  packages/cognito/tests/test_callbackMock.test.ts
  packages/cognito/tests/test_rewriteBody.test.ts
  packages/cognito/tests/test_token.cis2.test.ts
  packages/cognito/tests/test_token.failure.test.ts
  packages/cognito/tests/test_token.mock.test.ts
  packages/cognito/vitest.config.ts
  vitest.base.config.ts
Due: lint-cognito

another update
  package-lock.json
  packages/cognito/package.json
Due: lint-cognito

change prescriptiondetailslambda
  package-lock.json
  packages/prescriptionDetailsLambda/package.json
  packages/prescriptionDetailsLambda/tests/test_extensionUtils.test.ts
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
  packages/prescriptionDetailsLambda/tests/test_handler.test.ts
  packages/prescriptionDetailsLambda/tests/test_prescriptionService.test.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
  packages/prescriptionDetailsLambda/vitest.config.ts
Due: none

change common authfunctions
  packages/common/authFunctions/package.json
  packages/common/authFunctions/tests/test_apigeeUtils.test.ts
  packages/common/authFunctions/tests/test_authenticateRequest.test.ts
  packages/common/authFunctions/tests/test_authenticationConcurrentAwareMiddleware.test.ts
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
  packages/common/authFunctions/tests/test_cis2TokenHelpers.test.ts
  packages/common/authFunctions/tests/test_constructSignedJWTBody.test.ts
  packages/common/authFunctions/tests/test_userInfoHelpers.test.ts
  packages/common/authFunctions/vitest.config.ts
Due: lint-authFunctions

update mock-jwks
  package-lock.json
  packages/common/authFunctions/package.json
Due: lint-authFunctions

update node-forge
  package-lock.json
Due: none

tidy
  package-lock.json
  package.json
  packages/cognito/package.json
  packages/common/authFunctions/package.json
  packages/prescriptionDetailsLambda/package.json
Due: lint-cognito, lint-authFunctions

remove trivy ignore
  .trivyignore.yaml
Due: none

fix it
  packages/prescriptionDetailsLambda/tests/test_handler.test.ts
  packages/prescriptionDetailsLambda/tests/test_prescriptionService.test.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
  trivy.yaml
Due: none

tidy
  packages/cognito/.jest/setEnvVars.js
  packages/cognito/jest.config.ts
  packages/cognito/jest.debug.config.ts
  packages/cognito/vitest.config.ts
Due: lint-cognito

more tidy
  packages/prescriptionDetailsLambda/.jest/setEnvVars.js
  packages/prescriptionDetailsLambda/jest.config.ts
  packages/prescriptionDetailsLambda/jest.debug.config.ts
  packages/prescriptionDetailsLambda/vitest.config.ts
Due: none

even more tidy
  packages/common/authFunctions/.jest/setEnvVars.js
  packages/common/authFunctions/vitest.config.ts
Due: lint-authFunctions

fix config
  .vscode/eps-prescription-tracker-ui.code-workspace
  packages/cognito/vitest.config.ts
  packages/common/authFunctions/vitest.config.ts
  packages/prescriptionDetailsLambda/vitest.config.ts
  vitest.config.ts
Due: lint-cognito, lint-authFunctions

fix tests
  packages/common/authFunctions/tests/test_cis2TokenHelpers.test.ts
  packages/common/authFunctions/tests/test_userInfoHelpers.test.ts
Due: lint-authFunctions

more tidy up
  packages/common/authFunctions/tests/test_cis2TokenHelpers.test.ts
Due: lint-authFunctions

Fix: [AEA-5081] - latest header (#1646)
  .devcontainer/Dockerfile
  package-lock.json
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/HeaderStrings.test.ts
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/components/icons/NhsLogo.tsx
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
  packages/cpt-ui/src/styles/header.scss
  packages/cpt-ui/src/styles/searchforaprescription.scss
Due: lint-cpt-ui

fix coverage
  Makefile
  packages/cognito/package.json
  packages/cognito/vitest.config.ts
  packages/common/authFunctions/vitest.config.ts
  packages/cpt-ui/vite.config.ts
  packages/prescriptionDetailsLambda/vitest.config.ts
  vitest.config.ts
Due: lint-cpt-ui, lint-cognito, lint-authFunctions

really fix config
  packages/cognito/vitest.config.ts
  packages/common/authFunctions/vitest.config.ts
  packages/prescriptionDetailsLambda/vitest.config.ts
Due: lint-cognito, lint-authFunctions

fix exclude
  vitest.config.ts
Due: none

go back to shared config
  packages/cognito/vitest.config.ts
  packages/common/authFunctions/vitest.config.ts
  packages/prescriptionDetailsLambda/vitest.config.ts
  vitest.shard.config.ts
Due: lint-cognito, lint-authFunctions

add back in config
  packages/cpt-ui/vite.config.ts
Due: lint-cpt-ui

add exclusions
  sonar-project.properties
Due: none

correct exclusions
  sonar-project.properties
Due: none

[AEA-5821] misc fixes
  packages/prescriptionDetailsLambda/src/services/getPatientDetails.ts
  packages/prescriptionDetailsLambda/tests/mockObjects.ts
Due: none

remove env vars
  packages/cognito/tests/test_token.cis2.test.ts
  packages/cognito/tests/test_token.mock.test.ts
Due: lint-cognito

remove setting process.env
  packages/cognito/tests/test_authorize.test.ts
  packages/cognito/tests/test_authorizeMock.test.ts
  packages/cognito/tests/test_callback.test.ts
  packages/cognito/tests/test_callbackMock.test.ts
  packages/cognito/tests/test_token.mock.test.ts
  packages/cognito/vitest.config.ts
Due: lint-cognito

fixed typos
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
Due: lint-cpt-ui

updated repo tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

first title change
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
Due: lint-cpt-ui

updated repo tag plus styling
  .github/workflows/run_regression_tests.yml
  packages/cpt-ui/src/styles/EpsModal.scss
Due: lint-githubactions

Fix: [AEA-6079] - stop background interaction plus others (#1647)
  .github/workflows/run_regression_tests.yml
  package-lock.json
  packages/cpt-ui/__tests__/EpsModal.test.tsx
  packages/cpt-ui/src/components/EpsLogoutModal.tsx
  packages/cpt-ui/src/components/EpsModal.tsx
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutModalStrings.ts
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/src/styles/EpsModal.scss
Due: lint-cpt-ui, lint-githubactions

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
