Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Chore: [AEA-6424] - New quality checks (#1990)
  .devcontainer/devcontainer.json
  .github/CODEOWNERS
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/link_dev_website.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/sync_copilot.yml
  .github/workflows/update_dev_container_version.yml
  .gitignore
  .grype.yaml
  .pre-commit-config.yaml
  .trivyignore.yaml
  Makefile
  trivy.yaml
  zizmor.yml
Due: lint-githubactions

Notes added by 'git notes add'
  2d2bd3303ce9e9d6a40347b1aed5ec4eb6100c21
Due: none

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

[AEA-6434] support both extension urls
  packages/prescriptionDetailsLambda/src/utils/types.ts
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
  packages/prescriptionListLambda/src/utils/responseMapper.ts
  packages/prescriptionListLambda/tests/test_responseMapper.test.ts
Due: lint-prescriptionListLambda

[AEA-6434] tweak type
  packages/prescriptionDetailsLambda/src/utils/types.ts
Due: none

[AEA-6434] remove incorrect test
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
Due: none

Fixed local running of UI
  Makefile
  README.md
  package-lock.json
  packages/cdk/bin/LocalToPrDeploymentApp.ts
  packages/cdk/package.json
  packages/cdk/resources/StaticContentDeployment.ts
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/package.json
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/vite-env.d.ts
  packages/cpt-ui/vite.base.config.ts
  packages/cpt-ui/vite.config.ts
  packages/cpt-ui/vite.local.config.ts
Due: lint-cdk, lint-cpt-ui

Fix: [AEA-6434] - Support both status history extension urls (#2004)
  packages/prescriptionDetailsLambda/src/utils/types.ts
  packages/prescriptionListLambda/src/utils/responseMapper.ts
  packages/prescriptionListLambda/tests/test_responseMapper.test.ts
Due: lint-prescriptionListLambda

Notes added by 'git notes add'
  04c4b55be862cbd6c02ba88bd9b7cc203bce5fad
Due: none

Fixed github workflow issues
  .github/workflows/cdk_package_code.yml
  .github/workflows/pull_request.yml
  zizmor.yml
Due: lint-githubactions

timeout modal working with browser throttling
  packages/common/commonTypes/src/sessionTimeoutModalState.ts
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/SessionTimeoutModal.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
Due: lint-cpt-ui, lint-commonTypes

tests
  packages/cpt-ui/__tests__/SessionTimeoutModal.test.tsx
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
Due: lint-cpt-ui

Fixed logger calls and removed check licenses
  .gitignore
  .pre-commit-config.yaml
  Makefile
  package-lock.json
  package.json
  packages/CIS2SignOutLambda/package.json
  packages/CIS2SignOutLambda/src/handler.ts
  packages/cdk/package.json
  packages/cloudfrontFunctions/package.json
  packages/cognito/package.json
  packages/cognito/src/authorize.ts
  packages/cognito/src/authorizeMock.ts
  packages/cognito/src/callback.ts
  packages/cognito/src/callbackMock.ts
  packages/cognito/src/token.ts
  packages/cognito/src/tokenMock.ts
  packages/common/authFunctions/package.json
  packages/common/commonTypes/package.json
  packages/common/doHSClient/package.json
  packages/common/dynamoFunctions/package.json
  packages/common/lambdaUtils/package.json
  packages/common/middyErrorHandler/package.json
  packages/common/pdsClient/package.json
  packages/common/testing/package.json
  packages/cpt-ui/package.json
  packages/patientSearchLambda/package.json
  packages/prescriptionDetailsLambda/package.json
  packages/prescriptionDetailsLambda/src/handler.ts
  packages/prescriptionListLambda/package.json
  packages/prescriptionListLambda/src/handler.ts
  packages/selectedRoleLambda/package.json
  packages/selectedRoleLambda/src/handler.ts
  packages/sessionManagementLambda/package.json
  packages/sessionManagementLambda/src/handler.ts
  packages/testingSupport/clearActiveSessions/package.json
  packages/testingSupport/clearActiveSessions/src/handler.ts
  packages/testingSupport/setLastActivityTime/package.json
  packages/testingSupport/setLastActivityTime/src/handler.ts
  packages/trackerUserInfoLambda/package.json
  packages/trackerUserInfoLambda/src/handler.ts
Due: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions

Removed redundant CDK tests
  packages/cdk/jest.config.ts
  packages/cdk/jest.debug.config.ts
  packages/cdk/package.json
  packages/cdk/tests/cdk-nag.test.ts
  packages/cdk/tests/functionConstruct.test.ts
  packages/cdk/tests/src/dummyLambda.ts
Due: lint-cdk

Removed redundant params from Vite config
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/awsRumHelper.test.tsx
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/helpers/awsRum.tsx
Due: lint-cpt-ui

Fixed package-lock and gitignore, changed to better log workaround
  .gitignore
  package-lock.json
  packages/CIS2SignOutLambda/src/handler.ts
  packages/cognito/src/authorize.ts
  packages/cognito/src/authorizeMock.ts
  packages/cognito/src/callback.ts
  packages/cognito/src/callbackMock.ts
  packages/cognito/src/token.ts
  packages/cognito/src/tokenMock.ts
  packages/prescriptionDetailsLambda/src/handler.ts
  packages/prescriptionListLambda/src/handler.ts
  packages/selectedRoleLambda/src/handler.ts
  packages/sessionManagementLambda/src/handler.ts
  packages/testingSupport/clearActiveSessions/src/handler.ts
  packages/testingSupport/setLastActivityTime/src/handler.ts
  packages/trackerUserInfoLambda/src/handler.ts
Due: lint-cognito, lint-prescriptionListLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda

Applied log workaround to final lambda
  packages/patientSearchLambda/src/index.ts
Due: lint-patientSearchLambda

Removed double actionlint from pipeline
  Makefile
Due: none

Updated vulnerable package
  package-lock.json
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

repo tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fixed sonar coverage exclusions
  sonar-project.properties
Due: none

Notes added by 'git notes add'
  963ecdf7329e7d02b226e1c124bbcb46dc2288f8
Due: none
