Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Update packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

copilot suggestioins
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui, lint-authFunctions

improved log and fixed test
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Fix: [AEA-5838] - changing log levels (#1955)
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/common/authFunctions/src/authenticationMiddleware.ts
  packages/common/authFunctions/tests/test_authenticationConcurrentAwareMiddleware.test.ts
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui, lint-authFunctions

Stopped cdk-deploy from redeploying dependent stacks
  packages/cdk/package.json
Due: lint-cdk

Fixed Cloudfront functions
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cloudfrontFunctions/src/s3StaticContentUriRewrite.js
Due: lint-cdk

refactored into smaller neater files
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.types.ts
  packages/cpt-ui/src/components/EpsRoleSelectionPage.utils.ts
  packages/cpt-ui/src/components/RoleCard.tsx
  packages/cpt-ui/src/components/RoleCardAddress.tsx
Due: lint-cpt-ui

update workflow
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

PR comment adjustments
  packages/cpt-ui/__tests__/AccessibilityStatementPage.test.tsx
  packages/cpt-ui/src/constants/ui-strings/AccessibilityStatementStrings.ts
  packages/cpt-ui/src/pages/AccessibilityStatementPage.tsx
Due: lint-cpt-ui

Chore: [AEA-0000] - workflow to update dev container (#1950)
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

New: [AEA-6148] - Accessibility statement for CPT-UI (#1949)
  packages/cpt-ui/__tests__/AccessibilityStatementPage.test.tsx
  packages/cpt-ui/__tests__/EpsRichText.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EpsRichText.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/constants/ui-strings/AccessibilityStatementStrings.ts
  packages/cpt-ui/src/constants/ui-strings/FooterStrings.ts
  packages/cpt-ui/src/pages/AccessibilityStatementPage.tsx
Due: lint-cpt-ui

Fix single basic details returned
  packages/cpt-ui/src/context/NavigationProvider.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

Fix: [AEA-5942] - multi role select error (#1921)
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/ReactRouterButton.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.types.ts
  packages/cpt-ui/src/components/EpsRoleSelectionPage.utils.ts
  packages/cpt-ui/src/components/ReactRouterButton.tsx
  packages/cpt-ui/src/components/RoleCard.tsx
  packages/cpt-ui/src/components/RoleCardAddress.tsx
  packages/cpt-ui/src/styles/roleselectionpage.scss
Due: lint-cpt-ui

Test adjust
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
Due: lint-cpt-ui

Chore: [AEA-0000] - Dependabot cooldown (#1951)
  .github/dependabot.yml
Due: lint-githubactions

Accidentally removed log - Change it so it's unique
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

PR review cleanup
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/getSearchParams.tsx
  packages/cpt-ui/src/helpers/logout.tsx
Due: lint-cpt-ui

Resolve linting issues
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.utils.ts
Due: lint-cpt-ui

Notes added by 'git notes add'
  3c97c1eb049871cec3f7680a88573321dfae0e77
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
