Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

New: [AEA-5541] - Add status reasons (#1286)
  packages/common/commonTypes/src/prescriptionDetails.ts
  packages/cpt-ui/__tests__/ItemsCards.test.tsx
  packages/cpt-ui/__tests__/PrescriptionInformationBanner.test.tsx
  packages/cpt-ui/src/components/PrescriptionInformationBanner.tsx
  packages/cpt-ui/src/components/PrescriptionInformationBanner/BannerField.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards/SummaryListRow.tsx
  packages/cpt-ui/src/constants/ui-strings/PrescribedDispensedItemsCardsStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionInformationBannerStrings.ts
  packages/cpt-ui/src/constants/ui-strings/StatusReasonStrings.ts
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
  packages/prescriptionDetailsLambda/src/utils/responseMapper.ts
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
Due: lint-cpt-ui, lint-commonTypes

cloudfront logs to splunk
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

increase timeout
  packages/common/pdsClient/tests/patientSearch/test_patientsearch.test.ts
Due: lint-pdsClient

Fix routing for selected role on concurrent session
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Switch to using location
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Switch to insert token mapping, so that all details are copied & no details from previous session remain
  packages/sessionManagementLambda/src/handler.ts
  packages/sessionManagementLambda/tests/test-handler.test.ts
Due: lint-sessionManagementLambda

Session log out page
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

log in us
  .github/scripts/fix_cdk_json.sh
  Makefile
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
Due: lint-cdk

kms permissions #skip-qc
  packages/cdk/stacks/UsCertsStack.ts
Due: lint-cdk

Include toggle to update lastActivityTime or not, use for tracker user info calls
  packages/common/authFunctions/src/authenticateRequest.ts
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/common/authFunctions/src/authenticationMiddleware.ts
  packages/common/authFunctions/tests/test_authenticateRequest.test.ts
  packages/common/authFunctions/tests/test_authenticationConcurrentAwareMiddleware.test.ts
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
  packages/trackerUserInfoLambda/src/handler.ts
Due: lint-trackerUserInfoLambda, lint-authFunctions

export the delivery arn #skip-qc
  .github/scripts/fix_cdk_json.sh
  Makefile
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
Due: lint-cdk

put it all in us #skip-qc
  .github/scripts/fix_cdk_json.sh
  Makefile
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
Due: lint-cdk

remove unused stuff
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

check all vars to decide if we should do first deployment
  .github/workflows/release_all_stacks.yml
Due: lint-githubactions

fix release all stacks
  .github/workflows/release_all_stacks.yml
Due: lint-githubactions

refactor cdk #skip-qc
  .github/workflows/release_all_stacks.yml
  packages/cdk/resources/CloudfrontLogDelivery.ts
  packages/cdk/resources/WebApplicationFirewall.ts
  packages/cdk/resources/usRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
Due: lint-cdk, lint-githubactions

refactor: moves some values around & addresses comments
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

feat: addresses comments & adds auth guard to ensure state changes
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
Due: lint-cpt-ui

waf log names
  packages/cdk/resources/usRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
Due: lint-cdk

refactor cdk #skip-qc
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
Due: lint-cdk

fix policy
  packages/cdk/resources/usRegionLogGroups.ts
Due: lint-cdk

changed pharmacyStatus to psuStatus
  packages/common/commonTypes/src/prescriptionDetails.ts
  packages/cpt-ui/__tests__/ItemsCards.test.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/cpt-ui/src/constants/ui-strings/PrescribedDispensedItemsCardsStrings.ts
Due: lint-cpt-ui, lint-commonTypes

do not log to s3 #skip-qc
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

Fix: [AEA-5571] - Fix routing to selected role page for concurrent sessions (#1306)
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/sessionManagementLambda/src/handler.ts
  packages/sessionManagementLambda/tests/test-handler.test.ts
Due: lint-cpt-ui, lint-sessionManagementLambda

Working interval check - WIP: Log out
  packages/common/commonTypes/src/trackerUserInfo.ts
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui, lint-commonTypes

Nag suppressions
  packages/cdk/nagSuppressions.ts
Due: lint-cdk

Associate WAF with CF
  packages/cdk/resources/CloudfrontDistribution.ts
Due: lint-cdk
