Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

[AEA-5861] adds logic for checking child access codes and baseline role codes
  packages/common/commonTypes/src/trackerUserInfo.ts
  packages/common/dynamoFunctions/src/userUtils.ts
Due: lint-commonTypes, lint-dynamoFunctions

Update: [AEA-5755] - updates AWAITING_RELEASE_READY and FUTURE_DATED_PRESCRIPTION (#1386)
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/src/constants/ui-strings/StatusLabels.ts
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Notes added by 'git notes add'
  57f7e0c420ec9202e74a3637f83fb0c480b1d5f3
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

[AEA-5861] add unit tests for additional codes
  packages/common/dynamoFunctions/tests/userUtils.test.ts
Due: lint-dynamoFunctions

Fixed unit tests
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/sessionManagementHelper.test.tsx
Due: lint-cpt-ui

[AEA-5861] add debug logs
  packages/common/dynamoFunctions/src/userUtils.ts
Due: lint-dynamoFunctions

[AEA-5681] fix role code not stipping categories
  packages/common/dynamoFunctions/src/userUtils.ts
  packages/common/dynamoFunctions/tests/userUtils.test.ts
Due: lint-dynamoFunctions

Fix: [AEA-5834] - Fix log levels (#1411)
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/sessionManagementHelper.test.tsx
  packages/cpt-ui/src/helpers/sessionManagement.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

[AEA-5681] rework access check for larger hierarchy
  packages/common/dynamoFunctions/src/rbacHierarchy.ts
  packages/common/dynamoFunctions/src/userUtils.ts
  packages/common/dynamoFunctions/tests/testRbacHierarchy.test.ts
Due: lint-dynamoFunctions

Fix: [AEA-5861] - Support child activity & baseline role codes (#1413)
  packages/common/commonTypes/src/trackerUserInfo.ts
  packages/common/dynamoFunctions/src/rbacHierarchy.ts
  packages/common/dynamoFunctions/src/userUtils.ts
  packages/common/dynamoFunctions/tests/testRbacHierarchy.test.ts
  packages/common/dynamoFunctions/tests/userUtils.test.ts
Due: lint-commonTypes, lint-dynamoFunctions

Fixed object syntax
  packages/cognito/src/authorizeMock.ts
Due: lint-cognito

Update: [AEA-5840] - Removed state and session state dynamo tables from auth flow (#1412)
  packages/cognito/src/authorize.ts
  packages/cognito/src/authorizeMock.ts
  packages/cognito/src/callback.ts
  packages/cognito/src/callbackMock.ts
  packages/cognito/src/helpers.ts
  packages/cognito/src/tokenMock.ts
  packages/cognito/tests/test_authorize.test.ts
  packages/cognito/tests/test_authorizeMock.test.ts
  packages/cognito/tests/test_callback.test.ts
  packages/cognito/tests/test_callbackMock.test.ts
  packages/cognito/tests/test_token.mock.test.ts
  packages/common/dynamoFunctions/src/index.ts
  packages/common/dynamoFunctions/src/sessionState.ts
  packages/common/dynamoFunctions/src/stateMapping.ts
  packages/common/dynamoFunctions/tests/sessionState.test.ts
  packages/common/dynamoFunctions/tests/stateMapping.test.ts
Due: lint-cognito, lint-dynamoFunctions

[AEA-5861] temp fully disable B0401
  .github/workflows/run_regression_tests.yml
  packages/common/dynamoFunctions/src/rbacHierarchy.ts
  packages/common/dynamoFunctions/tests/userUtils.test.ts
Due: lint-dynamoFunctions, lint-githubactions

added formatting plus test
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
Due: lint-cpt-ui

added formatting plus test
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
Due: lint-cpt-ui

moved formatting to aid other validation on empty entries
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
Due: lint-cpt-ui

Fix: [AEA-5827] - fix dob validation (#1428)
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
Due: lint-cpt-ui

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
