Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Resolve duplicate import
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
Due: lint-cpt-ui

Fix: [AEA-6243] - Add additional isSigningOut condition to loading page on select your role (#1751)
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

Auth rewrite, reducing potential states we care about in redirections from 64 to 4
  package-lock.json
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/auth-refactor-plan.md
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
Due: lint-cpt-ui

Remove claude assist md
  packages/cpt-ui/auth-refactor-plan.md
Due: none

Incorporate telemetry helper functions
  packages/cpt-ui/src/components/Telemetry.tsx
  packages/cpt-ui/src/constants/environment.ts
Due: lint-cpt-ui

[AEA-0000] add cdk for telemetry lambda
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/RestApiGateway/RestApiGatewayMethods.ts
  packages/cdk/resources/api/apiFunctions.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

AEA-0000 First stab at telemetry lambda.
  packages/telemetryLambda/.vscode/launch.json
  packages/telemetryLambda/.vscode/settings.json
  packages/telemetryLambda/jest.config.ts
  packages/telemetryLambda/jest.debug.config.ts
  packages/telemetryLambda/package.json
  packages/telemetryLambda/src/handler.ts
  packages/telemetryLambda/tsconfig.json
Due: none

Fix up. More protections
  packages/cpt-ui/src/components/Telemetry.tsx
Due: lint-cpt-ui

[AEA-0000] add nag supressions
  packages/cdk/nagSuppressions.ts
Due: lint-cdk

Env var values
  packages/cpt-ui/src/components/Telemetry.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  scripts/run_sync.sh
Due: lint-cpt-ui

AEA-0000 Tweaks to metric log and type.
  packages/telemetryLambda/src/handler.ts
Due: none

Env var values
  packages/cpt-ui/src/components/Telemetry.tsx
Due: lint-cpt-ui

Add to prescription ID #skip-qc
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
Due: lint-cpt-ui

[AEA-0000] fix env vars
  packages/cpt-ui/src/components/Telemetry.tsx
  packages/cpt-ui/src/constants/environment.ts
Due: lint-cpt-ui

Additional metrics
  packages/cpt-ui/src/components/PatientNotFoundMessage.tsx
  packages/cpt-ui/src/components/PrescriptionNotFoundMessage.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

Concurrent session choice metrics
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/src/pages/SessionSelection.tsx
Due: lint-cpt-ui

Fixes
  packages/cpt-ui/src/components/Telemetry.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

working state
  packages/common/commonTypes/src/trackerUserInfo.ts
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
  packages/trackerUserInfoLambda/src/handler.ts
Due: lint-cpt-ui, lint-commonTypes, lint-trackerUserInfoLambda

Bump axios version
  package-lock.json
  packages/cpt-ui/package.json
Due: lint-cpt-ui

fixed broken unit tests
  packages/cognito/tests/test_token.cis2.test.ts
  packages/cpt-ui/__tests__/App.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/trackerUserInfoLambda/tests/test_handler.test.ts
Due: lint-cpt-ui, lint-cognito, lint-trackerUserInfoLambda

fixed broken tests
  package-lock.json
  packages/cognito/package.json
  packages/cognito/src/token.ts
  packages/cognito/tests/test_token.cis2.test.ts
  packages/prescriptionDetailsLambda/package.json
Due: lint-cognito

Adjust wording
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

working state with unncessary code removed
  packages/cpt-ui/src/helpers/axios.tsx
  packages/cpt-ui/src/helpers/sessionTimeoutManager.ts
Due: lint-cpt-ui

Industrialise the loading page
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/constants/ui-strings/LoadingPage.ts
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

Adjust text
  packages/cpt-ui/src/constants/ui-strings/LoadingPage.ts
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui
