Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Notes added by 'git notes add'
  802e44aaf75f7f4847281ca3501496ef7eb808e2
Due: none

Fixed config value for session logout and logout button behaviour
  .github/workflows/release_all_stacks.yml
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
Due: lint-cpt-ui, lint-githubactions

Fix: [AEA-5719] - Update prescription type mapping (#1336)
  .devcontainer/devcontainer.json
  .github/scripts/fix_cdk_json.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
  Makefile
  eslint.config.mjs
  packages/cdk/resources/CloudfrontLogDelivery.ts
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/resources/usRegionLogGroups.ts
  packages/cdk/stacks/UsCertsStack.ts
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/__tests__/PrescriptionInformationBanner.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/components/EPSCookieBanner.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/components/prescriptionDetails/SiteDetailsCards.tsx
  packages/cpt-ui/src/constants/ui-strings/PrescriptionInformationBannerStrings.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
Due: lint-cdk, lint-cpt-ui, lint-githubactions

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

feat: less restrictive security policy
  packages/cdk/resources/Cloudfront/CustomSecurityHeaders.ts
Due: lint-cdk

[AEA-0000] - Set pull request env var for cdk-watch running on PR environment
  scripts/run_sync.sh
Due: none

New: [AEA-5493] - Additional Permissions-Policy headers (#1071)
  packages/cdk/resources/CloudfrontBehaviors.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

[AEA-0000] - Set pull request env var for cdk-watch running on PR env
  scripts/run_sync.sh
Due: none

chore: integrate customheader changes to customSecurityHeaders.ts
  packages/cdk/resources/Cloudfront/CustomSecurityHeaders.ts
Due: lint-cdk

fix policy
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

do not need the policy in uk region
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

Fix: [AEA-5794] - Fixed config value for session logout and logout button behaviour (#1362)
  .github/workflows/release_all_stacks.yml
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
Due: lint-cpt-ui, lint-githubactions

chore: address comments
  .github/workflows/run_regression_tests.yml
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards/SummaryListRow.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui, lint-githubactions

Chore: [AEA-4762] - removed headers from stateless resources (#1337)
  packages/cdk/resources/Cloudfront/CustomSecurityHeaders.ts
  packages/cdk/resources/CloudfrontBehaviors.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

chore: adds "pilot" to service header
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards/SummaryListRow.tsx
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
Due: lint-cpt-ui

Fix: [AEA-0000] - Set pull request env var for cdk-watch running on PR env (#1364)
  packages/cdk/resources/ukRegionLogGroups.ts
  scripts/run_sync.sh
Due: lint-cdk
