Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

[AEA-5861] test regression test fix
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

[AEA-5861] update regression test version
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-5861] - Temp fully disable activity code B0401 (#1429)
  .github/workflows/run_regression_tests.yml
  packages/common/dynamoFunctions/src/rbacHierarchy.ts
  packages/common/dynamoFunctions/tests/userUtils.test.ts
Due: lint-dynamoFunctions, lint-githubactions

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Update: [AEA-5328] - Adds back go back button functionality (#1315)
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/NavigationProvider.test.tsx
  packages/cpt-ui/__tests__/NhsNumSearch.test.tsx
  packages/cpt-ui/__tests__/PatientNotFoundMessage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/PrescriptionListTable.test.tsx
  packages/cpt-ui/__tests__/PrescriptionNotFoundMessage.test.tsx
  packages/cpt-ui/__tests__/SearchProvider.test.tsx
  packages/cpt-ui/__tests__/SearchResultsTooManyMessage.test.tsx
  packages/cpt-ui/__tests__/UnknownErrorMessage.test.tsx
  packages/cpt-ui/__tests__/useBackNavigation.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EpsBackLink.tsx
  packages/cpt-ui/src/components/PatientNotFoundMessage.tsx
  packages/cpt-ui/src/components/PrescriptionNotFoundMessage.tsx
  packages/cpt-ui/src/components/SearchResultsTooManyMessage.tsx
  packages/cpt-ui/src/components/UnknownErrorMessage.tsx
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
  packages/cpt-ui/src/constants/ui-strings/BasicDetailsSearchResultsPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PatientNotFoundMessageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionDetailsPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionNotFoundMessageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/SearchResultsTooManyStrings.ts
  packages/cpt-ui/src/constants/ui-strings/UnknownErrorMessageStrings.ts
  packages/cpt-ui/src/context/NavigationProvider.tsx
  packages/cpt-ui/src/context/SearchProvider.tsx
  packages/cpt-ui/src/hooks/useBackNavigation.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

send waf to csoc
  .github/scripts/fix_cdk_json.sh
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/resources/usRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
Due: lint-cdk

forward to correct region
  .github/scripts/fix_cdk_json.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/resources/usRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
Due: lint-cdk, lint-githubactions

forward waf logs to csoc
  .github/scripts/fix_cdk_json.sh
  .github/workflows/pull_request.yml
  Makefile
  packages/cdk/stacks/StatelessResourcesStack.ts
  scripts/run_sync.sh
Due: lint-cdk, lint-githubactions

Notes added by 'git notes add'
  85aa178664241c971dfa837b874f07d3773bc9ec
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

use common release workflow
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_regression_tests.yml
  .tool-versions.asdf
  package-lock.json
  package.json
  release.config.js
  releaseNotesTemplates/commit.hbs
Due: lint-githubactions

use common pr-title-check
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix tag format
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

common config for tag format
  .github/config/settings.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-0000] - fix release tagging (#1446)
  .devcontainer/Dockerfile
  .github/config/settings.yml
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_regression_tests.yml
  .tool-versions.asdf
  package-lock.json
  package.json
  release.config.js
  releaseNotesTemplates/commit.hbs
Due: lint-githubactions

Fix: [AEA-5895] - send waf logs to csoc (#1430)
  .github/scripts/fix_cdk_json.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
  Makefile
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/resources/usRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
  scripts/run_sync.sh
Due: lint-cdk, lint-githubactions

Notes added by 'git notes add'
  4cf9dd7537797172dff9deafa416886d62892e6c
Due: none

fix workflow
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
