Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

add rum session id to api calls
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards/SummaryListRow.tsx
  packages/cpt-ui/src/helpers/axios.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

use common types #skip-qc
  package-lock.json
  packages/common/commonTypes/src/headers.ts
  packages/common/commonTypes/src/index.ts
  packages/common/lambdaUtils/package.json
  packages/common/lambdaUtils/src/index.ts
  packages/cpt-ui/__tests__/axios.test.tsx
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/helpers/axios.tsx
Due: lint-cpt-ui, lint-commonTypes, lint-lambdaUtils

remove uuid
  .vscode/eps-prescription-tracker-ui.code-workspace
  package-lock.json
  packages/cognito/package.json
  packages/cognito/src/helpers.ts
  packages/cognito/src/tokenMock.ts
  packages/common/authFunctions/package.json
  packages/common/authFunctions/src/apigee.ts
  packages/common/authFunctions/tests/test_apigeeUtils.test.ts
  packages/common/lambdaUtils/package.json
  packages/common/lambdaUtils/src/index.ts
  packages/common/pdsClient/package.json
  packages/common/pdsClient/src/client.ts
  packages/cpt-ui/__tests__/axios.test.tsx
  packages/cpt-ui/package.json
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards/SummaryListRow.tsx
  packages/cpt-ui/src/helpers/axios.tsx
  packages/prescriptionDetailsLambda/package.json
  packages/prescriptionListLambda/package.json
  packages/prescriptionListLambda/src/services/prescriptionsLookupService.ts
Due: lint-cpt-ui, lint-cognito, lint-pdsClient, lint-lambdaUtils, lint-prescriptionListLambda, lint-authFunctions

Add login endpoint as connect src
  packages/cdk/resources/Cloudfront/CustomSecurityHeaders.ts
  packages/cdk/resources/CloudfrontBehaviors.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

Update: [AEA-5787] - adds "pilot" to service header (#1365)
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards/SummaryListRow.tsx
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
Due: lint-cpt-ui

Temporarily use cognito custom domain
  .github/workflows/pull_request.yml
Due: lint-githubactions

REmove cognito custom domain
  .github/workflows/pull_request.yml
Due: lint-githubactions

Remove path so it's more universal
  packages/cdk/resources/Cloudfront/CustomSecurityHeaders.ts
Due: lint-cdk

Try catch around CIS2 logout. Always run amplify logout
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Revert "Try catch around CIS2 logout. Always run amplify logout"
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Try catch CIS2 logout
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Add returns back
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

pass session id around
  packages/common/commonTypes/src/headers.ts
  packages/common/commonTypes/src/trackerUserInfo.ts
  packages/common/lambdaUtils/src/index.ts
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/__tests__/axios.test.tsx
  packages/cpt-ui/__tests__/sessionManagementHelper.test.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/axios.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/sessionManagementLambda/.vscode/launch.json
  packages/sessionManagementLambda/.vscode/settings.json
  packages/trackerUserInfoLambda/src/handler.ts
  packages/trackerUserInfoLambda/tests/test_handler.test.ts
Due: lint-cpt-ui, lint-commonTypes, lint-lambdaUtils, lint-trackerUserInfoLambda, lint-sessionManagementLambda

return session for cached results
  packages/trackerUserInfoLambda/src/handler.ts
Due: lint-trackerUserInfoLambda

chore: sonar config
  sonar-project.properties
Due: none

fix test #skip-qc
  packages/trackerUserInfoLambda/tests/test_handler.test.ts
Due: lint-trackerUserInfoLambda

chore: removes escaped comma
  sonar-project.properties
Due: none

refactor: updates prescription dispaly & status mapping
  packages/prescriptionListLambda/src/utils/types.ts
Due: lint-prescriptionListLambda

Fix: [AEA-4762] - Add login endpoint as connect src (#1368)
  packages/cdk/resources/Cloudfront/CustomSecurityHeaders.ts
  packages/cdk/resources/CloudfrontBehaviors.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

Prevent redirects, don't remove reasoning from auth state - Maintaining msg on logged out page
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

Argument reqs
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
Due: lint-cpt-ui

refactor: adds new redirection rule & makes code more readable
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

use direct local storage in axios
  packages/cpt-ui/__tests__/axios.test.tsx
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/helpers/axios.tsx
  packages/cpt-ui/src/helpers/useLocalStorageState.tsx
Due: lint-cpt-ui

Fix: [AEA-5407] - No Role selected page redirect issue fix (#1285)
  .github/workflows/run_regression_tests.yml
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  sonar-project.properties
Due: lint-cpt-ui, lint-githubactions

Update: [AEA-5755] - updates prescription dispaly & status mapping (#1370)
  packages/prescriptionListLambda/src/utils/types.ts
Due: lint-prescriptionListLambda

Re-add try catch
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

refactor: adds messages and fallback title to bubble up to UI
  packages/cpt-ui/src/constants/ui-strings/PrescriptionMessage.ts
  packages/prescriptionDetailsLambda/src/services/prescriptionService.ts
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
  packages/prescriptionDetailsLambda/src/utils/responseMapper.ts
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

chore: updated logger
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
Due: none

Update: [AEA-5781] - adds messages and fallback title to bubble up to UI (#1371)
  packages/cpt-ui/src/constants/ui-strings/PrescriptionMessage.ts
  packages/prescriptionDetailsLambda/src/services/prescriptionService.ts
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
  packages/prescriptionDetailsLambda/src/utils/responseMapper.ts
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
Due: lint-cpt-ui

Handle all sign outs before any logout page redirections - Let amplify do it
  packages/common/authFunctions/src/authenticationMiddleware.ts
  packages/cpt-ui/src/components/EpsCard.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui, lint-authFunctions

Syntax
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
Due: lint-cpt-ui
