Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Initial redirect & navigate away protection
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

Update packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Update packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
Due: lint-cpt-ui

Prevent tab ID removal on unload event in case the user cancels. Add UT. Fix redirection catch
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/NavigationProvider.tsx
  packages/cpt-ui/src/helpers/tabHelpers.ts
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
Due: lint-cpt-ui

Typo fixing
  packages/cpt-ui/src/constants/ui-strings/AccessibilityStatementStrings.ts
Due: lint-cpt-ui

Typo
  packages/cpt-ui/src/constants/ui-strings/AccessibilityStatementStrings.ts
Due: lint-cpt-ui

Add debug mock
  packages/cpt-ui/__tests__/NavigationProvider.test.tsx
Due: lint-cpt-ui

Fix: [AEA-6148] - Accessibility page typo (#1989)
  packages/cpt-ui/src/constants/ui-strings/AccessibilityStatementStrings.ts
Due: lint-cpt-ui

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

workflow fixes
  .devcontainer/devcontainer.json
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/link_dev_website.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/sync_copilot.yml
  .github/workflows/update_dev_container_version.yml
  zizmor.yml
Due: lint-githubactions

add grype ignore
  .gitignore
  .grype.yaml
Due: none

permissions
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

permissions
  .github/workflows/pull_request.yml
Due: lint-githubactions

permissions
  .github/workflows/release_all_stacks.yml
Due: lint-githubactions

use new qc
  .github/workflows/pull_request.yml
Due: lint-githubactions

Protect loading pages
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

ignore unpinned uses
  zizmor.yml
Due: none

Fix: [AEA-5500] - Handle refreshing or loading patient search results without search parameters (#1960)
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/SessionTimeoutModal.test.tsx
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
  packages/cpt-ui/src/constants/ui-strings/SessionTimeoutModalStrings.ts
  packages/cpt-ui/src/context/NavigationProvider.tsx
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
Due: lint-cpt-ui

wait for all qc jobs
  .github/workflows/pull_request.yml
Due: lint-githubactions

treat skipped as succes
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix
  .github/actions/release_all_stacks/action.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

Private beta disclaimer
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/styles/searchforaprescription.scss
Due: lint-cpt-ui

fix
  .github/workflows/pull_request.yml
Due: lint-githubactions

Fix tests
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
Due: lint-cpt-ui

Alter test ID and include tests
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

use action
  .github/actions/mark_jira_released/action.yml
  .github/actions/release_all_stacks/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/actions/update_github_pages/action.yml
  .github/workflows/pull_request.yml
  .grype.yaml
  zizmor.yml
Due: lint-githubactions

Include privacy policy update
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
  packages/cpt-ui/src/pages/PrivacyNoticePage.tsx
Due: lint-cpt-ui

Fix test ID
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
Due: lint-cpt-ui

Update packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

PR comments
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

checkout gh actions
  .github/actions/release_all_stacks/action.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
