Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

restored working version
  packages/testingSupport/fakeTimerLambda/src/handler.ts
Due: none

looking good version
  packages/cpt-ui/src/helpers/useFocusManagement.tsx
Due: lint-cpt-ui

Switch to component & introduce tests
  packages/cpt-ui/__tests__/LoadingPage.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/components/LoadingPageWarning.tsx
  packages/cpt-ui/src/constants/ui-strings/LoadingPage.ts
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

fixed tests
  packages/cpt-ui/__tests__/useFocusManagement.test.tsx
Due: lint-cpt-ui

Add basic mockAuthState to all tests requiring desktopId
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
Due: lint-cpt-ui

passed tests
  packages/cpt-ui/src/helpers/useFocusManagement.tsx
Due: lint-cpt-ui

Fix: [AEA-6215] - Add an automatic RUM log for users who are on the redirect page too long (#1772)
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/LoadingPage.test.tsx
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/helpers/appLocalStateOutput.tsx
  packages/cpt-ui/src/pages/LoadingPage.tsx
  packages/cpt-ui/vite-env.d.ts
  scripts/run_sync.sh
Due: lint-cpt-ui

Remove duplicate from merge
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

Temp regression proof
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Psuedo representation
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

paramterised endpoint
  packages/testingSupport/fakeTimerLambda/src/handler.ts
  packages/testingSupport/fakeTimerLambda/tests/test_handler.test.ts
Due: none

Redirection reconfigured
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
Due: lint-cpt-ui

Formatting
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Notes added by 'git notes add'
  defe0fe698aed95734e83ebad2d9e5068d50d697
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

fixed tabbing order with cookie banner and skip link
  packages/cpt-ui/__tests__/useFocusManagement.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EPSCookieBanner.tsx
  packages/cpt-ui/src/helpers/useFocusManagement.tsx
Due: lint-cpt-ui

removed unncessaryu file
  audit_report.json
  packages/cpt-ui/src/styles/EpsModal.scss
Due: none

Add todo clean ups
  packages/cognito/src/token.ts
  packages/cognito/src/tokenMock.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui, lint-cognito

Clean access provider
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Extend token mapping
  packages/cognito/src/token.ts
  packages/cognito/src/tokenMock.ts
Due: lint-cognito

Clean up matrix changes, make them more human readable. Extend children blocking conditions
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Fix access provider test for logged in root test
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
Due: lint-cpt-ui

Fix logoutpage tests
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
Due: lint-cpt-ui

Fix: [AEA-5081] - fixed skip link focus and updated trivyignore (#1798)
  packages/cpt-ui/__tests__/App.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/HeaderStrings.test.ts
  packages/cpt-ui/__tests__/useFocusManagement.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EPSCookieBanner.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
  packages/cpt-ui/src/helpers/useFocusManagement.tsx
  packages/staticContent/404.html
Due: lint-cpt-ui

trivyignore
  .trivyignore.yaml
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Introduce new requirements on mock object
  packages/cognito/src/token.ts
  packages/cognito/src/tokenMock.ts
  packages/cognito/tests/test_token.cis2.test.ts
  packages/cognito/tests/test_token.mock.test.ts
Due: lint-cognito
