Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Fixed devcontainer.json for jq
  .devcontainer/devcontainer.json
Due: none

Moved to method of pinning dev container image
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
  .github/workflows/run_regression_tests.yml
  Makefile
Due: lint-githubactions

Cleaned up unneeded steps
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

More pipeline cleanup
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

working first draft agreed with jess, needs a lot of tidying
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

moved paths to environments file
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/constants/environment.ts
Due: lint-cpt-ui

fixed jest environment for tests
  packages/cpt-ui/jest.setup.ts
Due: lint-cpt-ui

Fix: [AEA-6003] - patient banner shown on wrong pages (#1862)
  packages/cpt-ui/__tests__/Layout.test.tsx
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/constants/environment.ts
Due: lint-cpt-ui

working on comments
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

updated repo tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Test if it runs
  README.md
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

solved make install issue
  package-lock.json
Due: none

merge conflicts
  package-lock.json
Due: none

merge conflicts
  .trivyignore.yaml
Due: none

fixed build
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Handle new session isSignedIn on select your role, but deal with logged out users navigating to it. Fix logout issues
  packages/cpt-ui/__tests__/AccessProvider.ensureRoleSelected.test.tsx
  packages/cpt-ui/__tests__/AccessProvider.shouldBlockChildren.test.tsx
  packages/cpt-ui/__tests__/axios.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/axios.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
Due: lint-cpt-ui

Initial CDK changes for new app creation
  packages/cdk/policies/kms/AllowStaticBucketKmsKeyAccessPolicy.ts
  packages/cdk/policies/s3/AllowStaticContentPolicyStatements.ts
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/resources/CloudfrontLogDelivery.ts
  packages/cdk/resources/Cognito.ts
  packages/cdk/resources/Dynamodb.ts
  packages/cdk/resources/Rum.ts
  packages/cdk/resources/StaticContentBucket.ts
  packages/cdk/resources/WebApplicationFirewall.ts
  packages/cdk/resources/api/apiFunctions.ts
  packages/cdk/resources/api/oauth2Functions.ts
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/stacks/StatefulResourcesStack.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
  packages/prescriptionListLambda/src/handler.ts
Due: lint-cdk, lint-prescriptionListLambda

Initial new CDK app
  packages/cdk/bin/MainDeploymentApp.ts
Due: lint-cdk

Introduce logout marker to detect logout on other tabs
  packages/cpt-ui/__tests__/AccessProvider.ensureRoleSelected.test.tsx
  packages/cpt-ui/__tests__/AccessProvider.shouldBlockChildren.test.tsx
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui
