Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Alter loading page text
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Condition the render of the role selection page. Overcoming the clearAuth state & redirection race condition
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

[AEA-6163] add logging to RUM support #skip-qc
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/helpers/logger.tsx
Due: lint-cpt-ui

New: [AEA-6209] - Render a loading page if rendering is blocked (#1750)
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

Notes added by 'git notes add'
  f74b8d38ec4c47b6c55cc4e2c77e44fe88364312
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

fix test
  packages/common/authFunctions/jest.config.ts
  packages/common/authFunctions/jest.debug.config.ts
  packages/common/authFunctions/tests/test_authenticateRequest.test.ts
  packages/common/authFunctions/vitest.config.ts
Due: lint-authFunctions

Reduce duplication of loading wheel implementation
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

really fix test
  packages/common/authFunctions/tests/test_authenticateRequest.test.ts
Due: lint-authFunctions

run test
  packages/common/doHSClient/tests/test_doHSClient.test.ts
Due: lint-doHSClient

fix test
  packages/common/doHSClient/.vscode/launch.json
  packages/common/doHSClient/jest.debug.config.ts
  packages/common/doHSClient/tests/test_doHSClient.test.ts
Due: lint-doHSClient

fix test
  packages/cognito/tests/test_authorizeMock.test.ts
Due: lint-cognito

Chore: [AEA-6051] - add secrets for api keys (#1749)
  package-lock.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/SharedSecrets.ts
  packages/cdk/resources/api/apiFunctions.ts
  packages/cdk/resources/api/oauth2Functions.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cognito/package.json
  packages/cognito/src/authorizeMock.ts
  packages/cognito/src/tokenMock.ts
  packages/cognito/tests/test_authorizeMock.test.ts
  packages/common/authFunctions/jest.config.ts
  packages/common/authFunctions/jest.debug.config.ts
  packages/common/authFunctions/package.json
  packages/common/authFunctions/src/authenticateRequest.ts
  packages/common/authFunctions/tests/test_authenticateRequest.test.ts
  packages/common/authFunctions/vitest.config.ts
  packages/common/doHSClient/.vscode/launch.json
  packages/common/doHSClient/jest.debug.config.ts
  packages/common/doHSClient/package.json
  packages/common/doHSClient/src/doHSClient.ts
  packages/common/doHSClient/tests/test_doHSClient.test.ts
Due: lint-cdk, lint-cognito, lint-authFunctions, lint-doHSClient

[AEA-6163] add tests
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/constants/environment.ts
Due: lint-cpt-ui

[AEA-6163] misc clean up
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Correct tests and routing
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Flip to positive conditioning
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Incorporate loading page test. Make new shared mocked auth state
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Set signing out state on instantiation of sign out fn
  packages/cpt-ui/src/helpers/logout.tsx
Due: lint-cpt-ui

Delete repeating code
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

use retries
  .github/workflows/release_all_stacks.yml
Due: lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
