Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

fix it
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-5395] - copy button (#1687)
  packages/cpt-ui/src/components/PrescriptionInformationBanner.tsx
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

Notes added by 'git notes add'
  89f48430b2c913bf73123a22b6bff9e37485b526
Due: none

repo tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

use new regression test tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

fixed log out title and added logic for too many results
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/SearchResultsTooManyMessage.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/TooManySearchResultsPage.tsx
Due: lint-cpt-ui

remove aws-lambda dependency
  package-lock.json
  packages/CIS2SignOutLambda/package.json
  packages/cognito/package.json
  packages/common/authFunctions/package.json
  packages/common/lambdaUtils/package.json
  packages/patientSearchLambda/package.json
  packages/prescriptionDetailsLambda/package.json
  packages/prescriptionListLambda/package.json
  packages/selectedRoleLambda/package.json
  packages/testingSupport/clearActiveSessions/package.json
  packages/trackerUserInfoLambda/package.json
Due: lint-cognito, lint-lambdaUtils, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions

Fix: [AEA-5935] - updated privacy notice text (#1683)
  .github/workflows/run_regression_tests.yml
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
Due: lint-cpt-ui, lint-githubactions

fixed tests
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/TooManySearchResultsPage.test.tsx
  packages/cpt-ui/jest.setup.ts
Due: lint-cpt-ui

Fix: [AEA-5318] - titles (#1706)
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/SearchResultsTooManyMessage.test.tsx
  packages/cpt-ui/__tests__/TooManySearchResultsPage.test.tsx
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/TooManySearchResultsPage.tsx
Due: lint-cpt-ui

correct filename
  packages/cognito/vitest.config.ts
  packages/common/authFunctions/vitest.config.ts
  packages/prescriptionDetailsLambda/vitest.config.ts
  vitest.shared.config.ts
Due: lint-cognito, lint-authFunctions

Notes added by 'git notes add'
  ebd89d546cff461bc36fb9b502cdb1b20df0207d
Due: none

Fix: [AEA-5821] - Adds PDS call to prescription details (#1682)
  packages/cdk/resources/api/apiFunctions.ts
  packages/common/commonTypes/src/headers.ts
  packages/common/commonTypes/src/index.ts
  packages/common/commonTypes/src/prescriptionDetails.ts
  packages/cpt-ui/__mocks__/MockPrescriptionDetailsResponse.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/prescriptionDetailsLambda/.jest/setEnvVars.js
  packages/prescriptionDetailsLambda/package.json
  packages/prescriptionDetailsLambda/src/handler.ts
  packages/prescriptionDetailsLambda/src/services/getPatientDetails.ts
  packages/prescriptionDetailsLambda/src/services/prescriptionService.ts
  packages/prescriptionDetailsLambda/src/utils/responseMapper.ts
  packages/prescriptionDetailsLambda/tests/mockObjects.ts
  packages/prescriptionDetailsLambda/tests/test_getPatientDetails.test.ts
  packages/prescriptionDetailsLambda/tests/test_handler.test.ts
  packages/prescriptionDetailsLambda/tests/test_prescriptionService.test.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
  packages/prescriptionDetailsLambda/tsconfig.json
  packages/prescriptionListLambda/src/handler.ts
Due: lint-cdk, lint-cpt-ui, lint-commonTypes, lint-prescriptionListLambda

added hover styling back in
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

fixed broken import link plus dropdown items styling
  packages/common/commonTypes/src/index.ts
  packages/cpt-ui/src/styles/header.scss
  packages/prescriptionDetailsLambda/src/services/getPatientDetails.ts
  packages/prescriptionDetailsLambda/src/services/prescriptionService.ts
  packages/prescriptionListLambda/src/handler.ts
Due: lint-commonTypes, lint-prescriptionListLambda

made hero banner full width on smaller screens
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

styling arond tabs
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/styles/searchforaprescription.scss
Due: lint-cpt-ui

fixed broken skip link
  packages/cpt-ui/src/pages/PrivacyNoticePage.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui
