Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Fix: [AEA-0000] - add cpt and rum session id to api calls (#1366)
  package-lock.json
  packages/cognito/package.json
  packages/common/commonTypes/src/headers.ts
  packages/common/commonTypes/src/index.ts
  packages/common/commonTypes/src/trackerUserInfo.ts
  packages/common/lambdaUtils/package.json
  packages/common/lambdaUtils/src/index.ts
  packages/common/pdsClient/package.json
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/__tests__/axios.test.tsx
  packages/cpt-ui/__tests__/sessionManagementHelper.test.tsx
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/package.json
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/axios.tsx
  packages/cpt-ui/src/helpers/useLocalStorageState.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/prescriptionDetailsLambda/package.json
  packages/prescriptionListLambda/package.json
  packages/sessionManagementLambda/.vscode/launch.json
  packages/sessionManagementLambda/.vscode/settings.json
  packages/trackerUserInfoLambda/src/handler.ts
  packages/trackerUserInfoLambda/tests/test_handler.test.ts
Due: lint-cpt-ui, lint-cognito, lint-pdsClient, lint-commonTypes, lint-lambdaUtils, lint-prescriptionListLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Environment plz
  README.md
Due: none

Fix: [AEA-0000] - remove uuid (#1367)
  .vscode/eps-prescription-tracker-ui.code-workspace
  package-lock.json
  packages/cognito/package.json
  packages/cognito/src/helpers.ts
  packages/cognito/src/tokenMock.ts
  packages/common/authFunctions/package.json
  packages/common/authFunctions/src/apigee.ts
  packages/common/authFunctions/tests/test_apigeeUtils.test.ts
  packages/common/lambdaUtils/package.json
  packages/common/lambdaUtils/src/index.ts
  packages/common/pdsClient/package.json
  packages/common/pdsClient/src/client.ts
  packages/cpt-ui/__tests__/axios.test.tsx
  packages/cpt-ui/package.json
  packages/cpt-ui/src/helpers/axios.tsx
  packages/prescriptionDetailsLambda/package.json
  packages/prescriptionListLambda/package.json
  packages/prescriptionListLambda/src/services/prescriptionsLookupService.ts
Due: lint-cpt-ui, lint-cognito, lint-pdsClient, lint-lambdaUtils, lint-prescriptionListLambda, lint-authFunctions

Add test IDs to new pages
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/src/pages/SessionSelection.tsx
Due: lint-cpt-ui

Undo readme change
  README.md
Due: none

Fix: [AEA-5721] - Add testid to session logged out and session selection (#1385)
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/src/pages/SessionSelection.tsx
Due: lint-cpt-ui

Notes added by 'git notes add'
  62b760eeca3269c0077734eaccf83e94eae53938
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

add headers to logger in middleware
  package-lock.json
  packages/common/authFunctions/package.json
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/common/authFunctions/tests/test_authenticationConcurrentAwareMiddleware.test.ts
  packages/sessionManagementLambda/src/handler.ts
  packages/trackerUserInfoLambda/src/handler.ts
  tsconfig.build.json
  tsconfig.defaults.json
Due: lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-authFunctions

fix order
  tsconfig.build.json
  tsconfig.defaults.json
Due: none

normalise headers before logging
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/sessionManagementLambda/src/handler.ts
  packages/trackerUserInfoLambda/src/handler.ts
Due: lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-authFunctions

use middleware for logging setup
  packages/CIS2SignOutLambda/src/handler.ts
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/common/lambdaUtils/src/index.ts
  packages/common/lambdaUtils/src/injectCorrelationLoggerMiddleware.ts
  packages/common/lambdaUtils/tests/test_loggerKeysMiddleware.test.ts
  packages/patientSearchLambda/src/handler.ts
  packages/patientSearchLambda/src/index.ts
  packages/prescriptionDetailsLambda/src/handler.ts
  packages/prescriptionListLambda/src/handler.ts
  packages/selectedRoleLambda/src/handler.ts
  packages/sessionManagementLambda/src/handler.ts
  packages/testingSupport/clearActiveSessions/src/handler.ts
  packages/trackerUserInfoLambda/src/handler.ts
Due: lint-lambdaUtils, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions

revert package changes
  package-lock.json
  packages/common/authFunctions/package.json
  tsconfig.build.json
  tsconfig.defaults.json
Due: lint-authFunctions

trigger build
  README.md
Due: none

revert change
  README.md
Due: none

correct server access log prefix
  packages/cdk/resources/StaticContentBucket.ts
Due: lint-cdk

try forcing a record page
  packages/cpt-ui/__tests__/CookiePolicyPage.test.tsx
  packages/cpt-ui/__tests__/awsRumHelper.test.tsx
  packages/cpt-ui/src/helpers/awsRum.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/ChangeRolePage.tsx
  packages/cpt-ui/src/pages/CookiePolicyPage.tsx
  packages/cpt-ui/src/pages/CookieSettingsPage.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/NotFoundPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/PrivacyNoticePage.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/pages/SelectYourRolePage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/src/pages/SessionSelection.tsx
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui

Fix: [AEA-0000] - correct server access log prefix (#1389)
  packages/cdk/resources/StaticContentBucket.ts
Due: lint-cdk

try removing session attributes #skip-qc
  packages/cpt-ui/__tests__/awsRumHelper.test.tsx
  packages/cpt-ui/src/helpers/awsRum.tsx
Due: lint-cpt-ui

force dispatch before cis2
  packages/cpt-ui/__tests__/CookiePolicyPage.test.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/awsRum.tsx
Due: lint-cpt-ui

allow cookies #skip-qc
  packages/cpt-ui/src/helpers/awsRum.tsx
Due: lint-cpt-ui

allow cookies initially #skip-qc
  packages/cpt-ui/src/helpers/awsRum.tsx
Due: lint-cpt-ui

re-initialise rum on cookie change
  packages/cpt-ui/src/helpers/awsRum.tsx
Due: lint-cpt-ui

revert testing changes
  packages/cpt-ui/__tests__/CookiePolicyPage.test.tsx
  packages/cpt-ui/__tests__/awsRumHelper.test.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/ChangeRolePage.tsx
  packages/cpt-ui/src/pages/CookiePolicyPage.tsx
  packages/cpt-ui/src/pages/CookieSettingsPage.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/NotFoundPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/PrivacyNoticePage.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/pages/SelectYourRolePage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/src/pages/SessionSelection.tsx
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui

fix tests #skip-qc
  packages/cpt-ui/__tests__/awsRumHelper.test.tsx
  packages/cpt-ui/src/helpers/awsRum.tsx
Due: lint-cpt-ui

changed text, neatened some tests and added some more
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/src/constants/ui-strings/StatusLabels.ts
Due: lint-cpt-ui

chore: changes wording
  packages/cpt-ui/src/constants/ui-strings/BasicDetailsSearchResultsPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PatientNotFoundMessageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionDetailsPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionNotFoundMessageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/SearchResultsTooManyStrings.ts
  packages/cpt-ui/src/constants/ui-strings/UnknownErrorMessageStrings.ts
Due: lint-cpt-ui

add in some comments
  packages/cpt-ui/src/helpers/awsRum.tsx
Due: lint-cpt-ui
