Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

feat: adds navigation provider and search type context
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EpsBackLink.tsx
  packages/cpt-ui/src/context/NavigationProvider.tsx
  packages/cpt-ui/src/context/SearchProvider.tsx
  packages/cpt-ui/src/hooks/useBackNavigation.tsx
Due: lint-cpt-ui

feat: integrates EpsBackLink on pages
  packages/cpt-ui/src/components/PatientNotFoundMessage.tsx
  packages/cpt-ui/src/components/PrescriptionNotFoundMessage.tsx
  packages/cpt-ui/src/components/SearchResultsTooManyMessage.tsx
  packages/cpt-ui/src/components/UnknownErrorMessage.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

feat: integrate serach and navigation context to searches
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
Due: lint-cpt-ui

test: fixes broken tests
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/NhsNumSearch.test.tsx
  packages/cpt-ui/__tests__/PatientNotFoundMessage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/PrescriptionListTable.test.tsx
  packages/cpt-ui/__tests__/PrescriptionNotFoundMessage.test.tsx
  packages/cpt-ui/__tests__/SearchProvider.test.tsx
  packages/cpt-ui/__tests__/SearchResultsTooManyMessage.test.tsx
  packages/cpt-ui/__tests__/UnknownErrorMessage.test.tsx
  packages/cpt-ui/__tests__/useBackNavigation.test.tsx
Due: lint-cpt-ui

Fix: [AEA-5289] - reinitialise rum client on cookie preference change (#1388)
  packages/cpt-ui/__tests__/awsRumHelper.test.tsx
  packages/cpt-ui/src/helpers/awsRum.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

test: adds missing NavigationProvider tests
  packages/cpt-ui/__tests__/NavigationProvider.test.tsx
  packages/cpt-ui/src/context/NavigationProvider.tsx
Due: lint-cpt-ui

handle subsequent user visit in rum
  .github/scripts/fix_cdk_json.sh
  .github/workflows/release_all_stacks.yml
  packages/cpt-ui/__tests__/awsRumHelper.test.tsx
  packages/cpt-ui/package.json
  packages/cpt-ui/src/components/EPSCookieBanner.tsx
  packages/cpt-ui/src/helpers/awsRum.tsx
  packages/cpt-ui/src/pages/CookiePolicyPage.tsx
Due: lint-cpt-ui, lint-githubactions

Fix: [AEA-0000] - handle subsequent user visit in rum (#1410)
  .github/scripts/fix_cdk_json.sh
  .github/workflows/release_all_stacks.yml
  packages/cpt-ui/__tests__/awsRumHelper.test.tsx
  packages/cpt-ui/package.json
  packages/cpt-ui/src/components/EPSCookieBanner.tsx
  packages/cpt-ui/src/helpers/awsRum.tsx
  packages/cpt-ui/src/pages/CookiePolicyPage.tsx
Due: lint-cpt-ui, lint-githubactions

Fix: [AEA-5843] - use new middy middleware to add correlation ids to logs (#1387)
  packages/CIS2SignOutLambda/src/handler.ts
  packages/common/authFunctions/tests/test_authenticationConcurrentAwareMiddleware.test.ts
  packages/common/lambdaUtils/src/index.ts
  packages/common/lambdaUtils/src/injectCorrelationLoggerMiddleware.ts
  packages/common/lambdaUtils/tests/test_loggerKeysMiddleware.test.ts
  packages/patientSearchLambda/src/handler.ts
  packages/patientSearchLambda/src/index.ts
  packages/prescriptionDetailsLambda/src/handler.ts
  packages/prescriptionListLambda/src/handler.ts
  packages/selectedRoleLambda/src/handler.ts
  packages/sessionManagementLambda/src/handler.ts
  packages/testingSupport/clearActiveSessions/src/handler.ts
  packages/trackerUserInfoLambda/src/handler.ts
Due: lint-lambdaUtils, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Altered log levels for known login and search outcomes and fixed search navigation issue when no parameters are provided
  packages/cpt-ui/src/helpers/sessionManagement.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

Fixed log message
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

fixed broken test
  packages/cpt-ui/src/context/NavigationProvider.tsx
Due: lint-cpt-ui

fixed typing error
  packages/cpt-ui/src/context/NavigationProvider.tsx
Due: lint-cpt-ui

fixed type error
  packages/cpt-ui/src/context/NavigationProvider.tsx
Due: lint-cpt-ui

Removed state and session state dynamo tables from auth flow
  packages/cognito/src/authorize.ts
  packages/cognito/src/authorizeMock.ts
  packages/cognito/src/callback.ts
  packages/cognito/src/callbackMock.ts
  packages/cognito/src/tokenMock.ts
  packages/cognito/tests/test_authorize.test.ts
  packages/cognito/tests/test_authorizeMock.test.ts
  packages/cognito/tests/test_callback.test.ts
  packages/cognito/tests/test_callbackMock.test.ts
  packages/cognito/tests/test_token.mock.test.ts
  packages/common/dynamoFunctions/src/index.ts
  packages/common/dynamoFunctions/src/sessionState.ts
  packages/common/dynamoFunctions/src/stateMapping.ts
  packages/common/dynamoFunctions/tests/sessionState.test.ts
  packages/common/dynamoFunctions/tests/stateMapping.test.ts
Due: lint-cognito, lint-dynamoFunctions

reverted variable names from codes
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
Due: lint-cpt-ui

Notes added by 'git notes add'
  64623cf470180a0bc6a979f852f34f5077c24aa5
Due: none

Fixed duplication
  packages/cognito/src/callback.ts
  packages/cognito/src/callbackMock.ts
  packages/cognito/src/helpers.ts
Due: lint-cognito

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
