Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

upgrade to node24
  .tool-versions
  packages/cdk/resources/LambdaFunction/helpers.ts
Due: lint-cdk

fixed broken skip link
  packages/cpt-ui/src/components/AppHeader.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

corrected tabbing order
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/AppHeader.tsx
Due: lint-cpt-ui

retry tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

parallel unit test
  Makefile
Due: none

use latest regression test tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

fix comment
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-6002] - retry failed regression tests (#1541)
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

added logo styling in focus
  packages/cpt-ui/src/styles/header.scss
Due: none

restyled the logo
  packages/cpt-ui/src/styles/header.scss
Due: none

finally removed the random line in the header!
  packages/cpt-ui/src/styles/header.scss
Due: none

fixed some broken styling
  packages/cpt-ui/src/styles/header.scss
Due: none

fixed more broken styling. now need to correct all media queries styling plus more dropdown focus styling
  packages/cpt-ui/src/styles/header.scss
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

retry aws commands
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/delete_stacks.sh
  .github/scripts/fix_cdk_json.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/release_all_stacks.yml
Due: lint-githubactions

more fixes
  packages/cpt-ui/src/styles/header.scss
Due: none

fixed logo+name box styling
  packages/cpt-ui/src/styles/header.scss
Due: none

made styling consistent
  packages/cpt-ui/src/styles/header.scss
Due: none

nearly got the more dropdown focus correct. now showing the bottom border. commiting for a good fallback place
  packages/cpt-ui/src/styles/header.scss
Due: none

nearly got focus state occupying all of header
  packages/cpt-ui/src/styles/header.scss
Due: none

just need to align menu dropdown locaiton
  packages/cpt-ui/src/styles/header.scss
Due: none

nearly sorted all screen sizes
  packages/cpt-ui/src/styles/header.scss
Due: none
