Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

[AEA-5926] complete pds client changes
  packages/common/commonTypes/src/index.ts
  packages/common/commonTypes/src/prescriptionDetails.ts
  packages/common/commonTypes/src/prescriptionList.ts
  packages/common/pdsClient/src/client.ts
  packages/common/pdsClient/src/interactions/index.ts
  packages/common/pdsClient/src/interactions/patientDetails/index.ts
  packages/common/pdsClient/src/interactions/patientDetails/interaction.ts
  packages/common/pdsClient/src/interactions/patientDetails/interface.ts
  packages/common/pdsClient/src/interactions/patientDetails/schema.ts
  packages/common/pdsClient/src/interactions/patientDetails/utils.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/interaction.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/schema.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/types.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/utils.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/validatePatientDetails/index.ts
  packages/common/pdsClient/src/interactions/patientSearch/interaction.ts
  packages/common/pdsClient/src/interactions/patientSearch/utils.ts
  packages/common/pdsClient/src/parsePatient.ts
  packages/common/pdsClient/src/schema/patient.ts
  packages/common/pdsClient/tests/patientDetails/mockObjects.ts
  packages/common/pdsClient/tests/patientDetails/test_patientDetails.test.ts
  packages/common/pdsClient/tests/patientDetailsLookup/test_mapPdsResponseToPatientDetails.test.ts
  packages/common/pdsClient/tests/patientDetailsLookup/test_patientDetailsLookupService.test.ts
  packages/common/pdsClient/tests/patientDetailsLookup/test_validatePatientDetails.test.ts
  packages/common/pdsClient/tests/test_parsePatient.test.ts
Due: lint-pdsClient, lint-commonTypes

latets
  packages/cpt-ui/src/components/AppHeader.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

implemented new tabsets
  package-lock.json
  package.json
  packages/cpt-ui/src/components/tab-set/TabSet.tsx
  packages/cpt-ui/src/components/tab-set/_TabSet.scss
  packages/cpt-ui/src/components/tab-set/components/Tab.tsx
  packages/cpt-ui/src/components/tab-set/index.ts
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

fixed skip link, moved service name, fixed showing more dropdown
  .devcontainer/Dockerfile
  package-lock.json
  package.json
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/AppHeader.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

removed comments, reverted to epsheader component
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/components/AppHeader.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

added some basic styling
  package-lock.json
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/package.json
  packages/cpt-ui/src/components/tab-set/_TabSet.scss
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

white background around tabs
  packages/cpt-ui/src/components/tab-set/_TabSet.scss
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

added focus styling
  packages/cpt-ui/src/components/tab-set/_TabSet.scss
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/styles/searchforaprescription.scss
Due: lint-cpt-ui

added focus styling removal for basic details search
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

readded package lock and reverted change in layout improt
  package-lock.json
  package.json
  packages/cpt-ui/src/Layout.tsx
Due: lint-cpt-ui

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

fixed tests
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
Due: lint-cpt-ui

fixed tests
  package-lock.json
  package.json
  packages/staticContent/404.html
Due: none

fixed tests
  package-lock.json
Due: none

fixed tests
  package-lock.json
  packages/common/pdsClient/package.json
Due: lint-pdsClient

[AEA-5962] wire up backend
  Makefile
  packages/common/commonTypes/src/patientSearch.ts
  packages/common/commonTypes/src/prescriptionList.ts
  packages/common/pdsClient/src/parsePatient.ts
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
  packages/prescriptionDetailsLambda/src/utils/responseMapper.ts
  packages/prescriptionDetailsLambda/tests/mockObjects.ts
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
  packages/prescriptionListLambda/src/handler.ts
  packages/prescriptionListLambda/src/utils/errors.ts
  packages/prescriptionListLambda/src/utils/responseMapper.ts
  packages/prescriptionListLambda/tests/test_handler.test.ts
  packages/prescriptionListLambda/tests/test_prescriptionsLookupService.test.ts
  packages/prescriptionListLambda/tests/test_responseMapper.test.ts
Due: lint-pdsClient, lint-commonTypes, lint-prescriptionListLambda

fixed node version issues
  package-lock.json
  packages/cdk/package.json
Due: lint-cdk

fixed conflicts
  package-lock.json
  package.json
  packages/cdk/package.json
Due: lint-cdk

added test coverage
  packages/cpt-ui/__tests__/App.test.tsx
  packages/cpt-ui/__tests__/HeaderStrings.test.ts
Due: lint-cpt-ui

disabled autocomplete on forms
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
Due: lint-cpt-ui

got it working
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

fixed styling
  .gitignore
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

[AEA-5926] pass through name/address use
  packages/common/commonTypes/src/index.ts
  packages/common/commonTypes/src/patientSearch.ts
  packages/common/commonTypes/src/prescriptionList.ts
  packages/common/pdsClient/src/parsePatient.ts
  packages/common/pdsClient/src/schema/address.ts
  packages/common/pdsClient/src/schema/name.ts
  packages/common/pdsClient/tests/patientDetails/test_patientDetails.test.ts
  packages/common/pdsClient/tests/patientSearch/test_patientsearch.test.ts
  packages/common/pdsClient/tests/test_parsePatient.test.ts
  packages/prescriptionListLambda/src/utils/responseMapper.ts
  packages/prescriptionListLambda/tests/test_handler.test.ts
  packages/prescriptionListLambda/tests/test_responseMapper.test.ts
Due: lint-pdsClient, lint-commonTypes, lint-prescriptionListLambda

fix poetry.lock
  .gitallowed
  poetry.lock
  pyproject.toml
Due: none

Chore: [AEA-0000] - fix poetry.lock (#1577)
  .gitallowed
  poetry.lock
  pyproject.toml
Due: none

fixed broken unit tests
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/PrescriptionListTable.test.tsx
Due: lint-cpt-ui
