Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Fix user initiated logout modal not hiding on click
  packages/cpt-ui/src/components/EpsHeader.tsx
Due: lint-cpt-ui

Set time back to 2 mins for prod use
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

CDK fixes and TS fixes
  .github/workflows/release_all_stacks.yml
  Makefile
  package-lock.json
  packages/CIS2SignOutLambda/src/handler.ts
  packages/cdk/bin/MainDeploymentApp.ts
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/resources/SharedSecrets.ts
  packages/cdk/resources/api/apiFunctions.ts
  packages/cdk/resources/api/oauth2Functions.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cloudfrontFunctions/src/s3StaticContentUriRewrite.js
  packages/cloudfrontFunctions/tests/testS3StaticContentUriRewrite.test.ts
  packages/cognito/src/authorize.ts
  packages/cognito/src/authorizeMock.ts
  packages/cognito/src/callback.ts
  packages/cognito/src/callbackMock.ts
  packages/cognito/src/token.ts
  packages/cognito/src/tokenMock.ts
  packages/patientSearchLambda/src/index.ts
  packages/prescriptionDetailsLambda/src/handler.ts
  packages/prescriptionListLambda/src/handler.ts
  packages/selectedRoleLambda/src/handler.ts
  packages/sessionManagementLambda/src/handler.ts
  packages/testingSupport/clearActiveSessions/src/handler.ts
  packages/testingSupport/setLastActivityTime/src/handler.ts
  packages/trackerUserInfoLambda/src/handler.ts
Due: lint-cdk, lint-cognito, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-githubactions

Fixed github package auth and made synth not need to lookup CF exports
  .github/workflows/cdk_package_code.yml
  Makefile
  packages/cdk/bin/MainDeploymentApp.ts
Due: lint-cdk, lint-githubactions

Removed redundant scripts and steps and fixed packaging
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/cdk_package_code.yml
  .github/workflows/release_all_stacks.yml
Due: lint-githubactions

Consolidated build scripts
  package.json
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cpt-ui/package.json
Due: lint-cdk, lint-cpt-ui

update to latest workflow
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

remove workflows
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
Due: lint-githubactions

Removals
  packages/cpt-ui/__tests__/axios.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/axios.tsx
  packages/cpt-ui/src/helpers/loginFunctions.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
Due: lint-cpt-ui

Moved SharedSecrets to statefull so that cfn parameters work
  .github/workflows/release_all_stacks.yml
  packages/cdk/bin/MainDeploymentApp.ts
  packages/cdk/resources/api/apiFunctions.ts
  packages/cdk/resources/api/oauth2Functions.ts
  packages/cdk/stacks/StatefulResourcesStack.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  scripts/show_deps.sh
Due: lint-cdk, lint-githubactions

Resolve timing issue
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
Due: lint-cpt-ui

Fixed nag suppressions
  packages/cdk/nagSuppressions.ts
Due: lint-cdk

Actually Fixed nag suppressions
  packages/cdk/stacks/StatefulResourcesStack.ts
Due: lint-cdk

Fixed cfn parameter names
  .github/workflows/release_all_stacks.yml
  packages/cdk/resources/SharedSecrets.ts
  packages/cdk/stacks/StatefulResourcesStack.ts
Due: lint-cdk, lint-githubactions

[AEA-6360] add new log for role confirmation
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui

[AEA-6360] cleanup
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui

Made construct for static content deployment and fixed asset permissions
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

Committed missed file
  packages/cdk/resources/StaticContentDeployment.ts
Due: lint-cdk

Fix: [AEA-5884] - Part 2: Fix disabling button on press & prevent cross firing (#1884)
  packages/common/commonTypes/src/index.ts
  packages/common/commonTypes/src/sessionTimeoutModalState.ts
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/App.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsLogoutModal.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/SessionTimeoutModal.test.tsx
  packages/cpt-ui/__tests__/logout.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/components/EpsLogoutModal.tsx
  packages/cpt-ui/src/components/EpsModal.tsx
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
  packages/cpt-ui/src/constants/ui-strings/SessionTimeoutModalStrings.ts
  packages/cpt-ui/src/constants/ui-strings/YourSelectedRoleStrings.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/styles/EpsModal.scss
Due: lint-cpt-ui, lint-commonTypes

Notes added by 'git notes add'
  f6df0d9ea0d006b922907d1721c29065d71a4cf7
Due: none

Fixed permissions for static content deployment
  Makefile
  packages/cdk/resources/StaticContentBucket.ts
  packages/cdk/resources/StaticContentDeployment.ts
Due: lint-cdk

Fix concurrent sessions
  packages/cpt-ui/__tests__/AccessProvider.ensureRoleSelected.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/helpers/axios.tsx
  packages/cpt-ui/src/helpers/logout.tsx
Due: lint-cpt-ui

first steps
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/components/ReactRouterButton.tsx
Due: lint-cpt-ui

Fix some tests #skip-qc
  packages/cpt-ui/__tests__/AccessProvider.ensureRoleSelected.test.tsx
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
Due: lint-cpt-ui

further styling improvements
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/constants/ui-strings/YourSelectedRoleStrings.ts
  packages/cpt-ui/src/styles/roleselectionpage.scss
Due: lint-cpt-ui

Test fixes
  packages/cpt-ui/__tests__/AccessProvider.ensureRoleSelected.test.tsx
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/axios.test.tsx
Due: lint-cpt-ui

selected card click styling
  packages/cpt-ui/src/styles/roleselectionpage.scss
Due: none

Chore: [AEA-0000] - move to common dev container (#1885)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
  .github/workflows/run_regression_tests.yml
  .pre-commit-config.yaml
  .tool-versions
  .tool-versions.asdf
  Makefile
  poetry.lock
  pyproject.toml
  scripts/check_python_licenses.sh
  scripts/run_cfn_guard.sh
Due: lint-githubactions

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

New: [AEA-6360] - Add new RUM log to role confirmation (#1920)
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui

test new qc
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Log out marker fixes #skip-qc
  packages/cpt-ui/__tests__/AccessProvider.ensureRoleSelected.test.tsx
  packages/cpt-ui/__tests__/AccessProvider.shouldBlockChildren.test.tsx
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/logout.test.tsx
  packages/cpt-ui/__tests__/tabHelpers.test.ts
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/getSearchParams.tsx
  packages/cpt-ui/src/helpers/loginFunctions.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/helpers/tabHelpers.ts
  packages/cpt-ui/src/pages/LoginPage.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
Due: lint-cpt-ui

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none
