Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update language versions
  .tool-versions
  poetry.lock
  pyproject.toml
Due: none

fixed skip link and logo underline
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
  packages/cpt-ui/src/styles/NewHeader.scss
  packages/cpt-ui/src/styles/searchforaprescription.scss
Due: lint-cpt-ui

replaced old header with new one
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/components/newHeader.tsx
Due: lint-cpt-ui

go back to node24 stuff
  packages/CIS2SignOutLambda/jest.config.ts
  packages/cdk/jest.config.ts
  packages/cloudfrontFunctions/jest.config.ts
  packages/cognito/jest.config.ts
  packages/common/authFunctions/jest.config.ts
  packages/common/doHSClient/jest.config.ts
  packages/common/dynamoFunctions/jest.config.ts
  packages/common/lambdaUtils/jest.config.ts
  packages/common/middyErrorHandler/jest.config.ts
  packages/common/pdsClient/jest.config.ts
  packages/patientSearchLambda/jest.config.ts
  packages/prescriptionDetailsLambda/jest.config.ts
  packages/prescriptionListLambda/jest.config.ts
  packages/selectedRoleLambda/jest.config.ts
  packages/sessionManagementLambda/jest.config.ts
  packages/testingSupport/clearActiveSessions/jest.config.ts
  packages/trackerUserInfoLambda/jest.config.ts
Due: lint-cdk, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-lambdaUtils, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions

added tab strings back in
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListTabStrings.ts
Due: lint-cpt-ui

Chore: [AEA-0000] - update language versions (#1652)
  .tool-versions
  packages/CIS2SignOutLambda/jest.config.ts
  packages/cdk/jest.config.ts
  packages/cloudfrontFunctions/jest.config.ts
  packages/cognito/jest.config.ts
  packages/common/authFunctions/jest.config.ts
  packages/common/doHSClient/jest.config.ts
  packages/common/dynamoFunctions/jest.config.ts
  packages/common/lambdaUtils/jest.config.ts
  packages/common/middyErrorHandler/jest.config.ts
  packages/common/pdsClient/jest.config.ts
  packages/patientSearchLambda/jest.config.ts
  packages/prescriptionDetailsLambda/jest.config.ts
  packages/prescriptionListLambda/jest.config.ts
  packages/selectedRoleLambda/jest.config.ts
  packages/sessionManagementLambda/jest.config.ts
  packages/testingSupport/clearActiveSessions/jest.config.ts
  packages/trackerUserInfoLambda/jest.config.ts
  poetry.lock
  pyproject.toml
Due: lint-cdk, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-lambdaUtils, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

fixed broken test
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

fixed merge conflcits, capitalised strings
  packages/cpt-ui/src/components/EpsLogoutModal.tsx
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutModalStrings.ts
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

resolved merge conflicts
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

fixed styling, updated class names, refactored strings
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/HeaderStrings.test.ts
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

added test coverage
  packages/cpt-ui/__tests__/EpsModal.test.tsx
Due: lint-cpt-ui

fixed the build errors
  packages/cpt-ui/__tests__/EpsModal.test.tsx
Due: lint-cpt-ui

retry tests in qa
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

use latest regression test
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-6002] - retry tests in qa (#1658)
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

[AEA-5821] add logic for prescription details pds call
  packages/common/commonTypes/src/headers.ts
  packages/common/commonTypes/src/index.ts
  packages/common/commonTypes/src/prescriptionDetails.ts
  packages/prescriptionDetailsLambda/src/handler.ts
  packages/prescriptionDetailsLambda/src/services/getPatientDetails.ts
  packages/prescriptionDetailsLambda/src/services/prescriptionService.ts
  packages/prescriptionDetailsLambda/src/utils/responseMapper.ts
Due: lint-commonTypes

[AEA-5821] add unit tests
  packages/cpt-ui/__mocks__/MockPrescriptionDetailsResponse.tsx
  packages/prescriptionDetailsLambda/.jest/setEnvVars.js
  packages/prescriptionDetailsLambda/package.json
  packages/prescriptionDetailsLambda/tests/mockObjects.ts
  packages/prescriptionDetailsLambda/tests/test_getPatientDetails.test.ts
  packages/prescriptionDetailsLambda/tests/test_handler.test.ts
  packages/prescriptionDetailsLambda/tests/test_prescriptionService.test.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
  packages/prescriptionDetailsLambda/tsconfig.json
  packages/prescriptionListLambda/src/handler.ts
Due: lint-cpt-ui, lint-prescriptionListLambda

[AEA-5821] update lambda env vars and tweak UI
  packages/cdk/resources/api/apiFunctions.ts
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cdk, lint-cpt-ui

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
