Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

[AEA-5926] add initial handling for missing pds fields
  packages/common/commonTypes/src/patientSearch.ts
  packages/common/commonTypes/src/prescriptionList.ts
  packages/common/pdsClient/src/interactions/patientSearch/interaction.ts
  packages/common/pdsClient/src/interactions/patientSearch/schema.ts
  packages/common/pdsClient/tests/patientSearch/test_patientsearch.test.ts
Due: lint-pdsClient, lint-commonTypes

dont link website on dependabot
  .github/workflows/link_dev_website.yml
Due: lint-githubactions

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Notes added by 'git notes add'
  941660f9dbb8abac922da74da23fe0f280c54d88
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

[AEA-5926] initial handling of missing pds fields and related refactoring
  packages/common/commonTypes/src/index.ts
  packages/common/commonTypes/src/patientSearch.ts
  packages/common/commonTypes/src/prescriptionList.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/interaction.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/types.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/utils.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/validatePatientDetails/index.ts
  packages/common/pdsClient/src/interactions/patientSearch/interaction.ts
  packages/common/pdsClient/src/interactions/patientSearch/schema.ts
  packages/common/pdsClient/tests/patientDetailsLookup/test_mapPdsResponseToPatientDetails.test.ts
  packages/common/pdsClient/tests/patientDetailsLookup/test_patientDetailsLookupService.test.ts
  packages/common/pdsClient/tests/patientDetailsLookup/test_validatePatientDetails.test.ts
  packages/common/pdsClient/tests/patientSearch/test_patientsearch.test.ts
  packages/common/testing/src/mockPatientSummary.ts
  packages/cpt-ui/src/components/PatientDetailsBanner.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/prescriptionListLambda/src/utils/responseMapper.ts
Due: lint-cpt-ui, lint-pdsClient, lint-commonTypes, lint-common-testing, lint-prescriptionListLambda

upgraded login procedure
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/context/ErrorBoundary.tsx
Due: lint-cpt-ui

Notes added by 'git notes add'
  bb9f6dd2379ef6f72b0dc1113b3c1ac54367c978
Due: none

fixed focus issue
  packages/cpt-ui/src/components/EpsCard.tsx
  packages/cpt-ui/src/constants/ui-strings/CardStrings.ts
  packages/cpt-ui/src/styles/card.scss
Due: lint-cpt-ui

fixed styling
  packages/cpt-ui/src/styles/card.scss
Due: none

fixed styling on focus border
  packages/cpt-ui/src/styles/card.scss
Due: none

corrected wcag error
  packages/cpt-ui/src/styles/card.scss
Due: none

fixed broken test
  packages/cpt-ui/__tests__/EpsCard.test.tsx
Due: lint-cpt-ui

completed wcag guidelines for 5398
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListTableStrings.ts
Due: lint-cpt-ui

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
