Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Make it a ternary
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

Rename desktop ID to device ID
  packages/cpt-ui/__tests__/LoadingPage.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/components/LoadingPageWarning.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/appLocalStateOutput.tsx
Due: lint-cpt-ui

missed one
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
Due: lint-cpt-ui

Combine both effects
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

trivyignore
  .trivyignore.yaml
Due: none

Fix: [AEA-0000] - trivy update (#1828)
  .trivyignore.yaml
Due: none

Ignore trailing space eslint
  packages/cpt-ui/src/components/LoadingPageWarning.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

Further ironing out. If sign out fails, redirect to logout. Check for concurrent on primary session on select role page
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
Due: lint-cpt-ui

refactored and improved
  Makefile
  package.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/RestApiGateway/RestApiGatewayMethods.ts
  packages/cdk/resources/api/apiFunctions.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/common/authFunctions/src/authenticationMiddleware.ts
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
Due: lint-cdk, lint-cpt-ui, lint-authFunctions

name change
  packages/testingSupport/setLastActivityTime/.jest/setEnvVars.js
  packages/testingSupport/setLastActivityTime/jest.config.ts
  packages/testingSupport/setLastActivityTime/jest.debug.config.ts
  packages/testingSupport/setLastActivityTime/package.json
  packages/testingSupport/setLastActivityTime/src/handler.ts
  packages/testingSupport/setLastActivityTime/tests/mockObjects.ts
  packages/testingSupport/setLastActivityTime/tests/test_handler.test.ts
  packages/testingSupport/setLastActivityTime/tsconfig.json
Due: none

paramterised endpoint
  packages/testingSupport/setLastActivityTime/src/handler.ts
Due: none

fixed tests
  Makefile
  package.json
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/LoadingPage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
Due: lint-cpt-ui, lint-authFunctions

fixed tests
  package-lock.json
Due: none

fixed tests
  .trivyignore.yaml
Due: none

cdk synth
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/api/apiFunctions.ts
Due: lint-cdk

Fix concurrent sessions on multi-role continous loop conflict
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
Due: lint-cpt-ui

Fix: [AEA-6210] - Include delayed information on loading page (#1821)
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoadingPage.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/components/LoadingPageWarning.tsx
  packages/cpt-ui/src/constants/ui-strings/LoadingPage.ts
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/appLocalStateOutput.tsx
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

build
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

paramaters for endpoint
  packages/testingSupport/setLastActivityTime/src/handler.ts
Due: none

Ignore minimatch CVE temporarily, while dependencies are using an older version
  .trivyignore.yaml
Due: none

There are 2 CVEs
  .trivyignore.yaml
Due: none

Fix: [AEA-0000] - Update trivy ignore (#1857)
  .trivyignore.yaml
Due: none

removed exit button
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/HeaderStrings.test.ts
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
  packages/staticContent/404.html
Due: lint-cpt-ui

repo tag name
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Alter existing tests to work with adjustments
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Resolve spacing, revert to JSX method
  packages/cpt-ui/src/components/LoadingPageWarning.tsx
Due: lint-cpt-ui

Modify component header
  packages/cpt-ui/src/components/LoadingPageWarning.tsx
Due: lint-cpt-ui

WIP: Scenario run through for ensureRoleSelected - pages need waited on, as blocked rn
  packages/cpt-ui/__tests__/AccessProvider.ensureRoleSelected.test.tsx
Due: lint-cpt-ui

first fix
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListTableStrings.ts
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

updated repo tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
