Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Fixed the flakey unit test
  packages/common/pdsClient/tests/patientSearch/test_patientsearch.test.ts
Due: lint-pdsClient

fixed broken test
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui

More Sonar issue fixes
  packages/common/authFunctions/src/authenticateRequest.ts
Due: lint-authFunctions

Notes added by 'git notes add'
  73f5ee560074d895e8229f2dbce007bb6d0a9eb3
Due: none

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

fixed broken test
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui

fixed linting
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

[AEA-5719] update type mapping
  packages/cpt-ui/__tests__/PrescriptionInformationBanner.test.tsx
  packages/cpt-ui/src/constants/ui-strings/PrescriptionInformationBannerStrings.ts
Due: lint-cpt-ui

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

extracted code, changed repo tag
  .github/workflows/run_regression_tests.yml
  packages/cpt-ui/src/constants/ui-strings/YourSelectedRoleStrings.ts
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui, lint-githubactions

removed weird spacing
  packages/cdk/resources/CloudfrontBehaviors.ts
Due: lint-cdk

added workflow tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

chore: updates regression test repo tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-5314] - security issue allowing unauthorised access via browser back button after logout (#1267)
  .github/workflows/run_regression_tests.yml
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
Due: lint-cdk, lint-cpt-ui, lint-githubactions

[AEA-5719] add conmditional for us stack cf log group policy
  packages/cdk/resources/usRegionLogGroups.ts
Due: lint-cdk

Fixed check period value
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

new pr
  packages/cdk/resources/Cloudfront/CustomSecurityHeaders.ts
  packages/cdk/resources/CloudfrontBehaviors.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

[AEA-5719] tweak pr log delivery and fix liniting issue
  .devcontainer/devcontainer.json
  .github/scripts/fix_cdk_json.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
  eslint.config.mjs
  packages/cdk/resources/CloudfrontLogDelivery.ts
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/resources/usRegionLogGroups.ts
  packages/cdk/stacks/UsCertsStack.ts
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/components/EPSCookieBanner.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/components/prescriptionDetails/SiteDetailsCards.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
Due: lint-cdk, lint-cpt-ui, lint-githubactions

[AEA-5719] add missing fix cdk json change
  .github/scripts/fix_cdk_json.sh
Due: none

[AEA-5719] fix makefile
  Makefile
Due: none

test: fixes memoryrouter entry now that we dont have an index route
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
Due: lint-cpt-ui

chore: makes use of constants
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

chore: makes use of constants
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

chore: useEffect reliability
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

chore: useEffect reliability
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
Due: lint-cpt-ui

updated repo tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-5613] - bug fix psu status not showing (#1307)
  .github/workflows/run_regression_tests.yml
  packages/common/commonTypes/src/prescriptionDetails.ts
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards/SummaryListRow.tsx
  packages/cpt-ui/src/constants/ui-strings/YourSelectedRoleStrings.ts
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
  packages/cpt-ui/src/styles/summarylist.scss
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
Due: lint-cpt-ui, lint-commonTypes, lint-githubactions

changed referrerpolicy
  packages/cdk/resources/Cloudfront/CustomSecurityHeaders.ts
Due: lint-cdk

feat: adds missing redirect logic from root path to search page
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

chore: update regression_test_repo_tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions
