Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

code coverage
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
  packages/cpt-ui/src/components/EpsModal.tsx
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
  packages/sessionManagementLambda/tests/test-handler.test.ts
Due: lint-cpt-ui, lint-sessionManagementLambda

fixed linting error
  packages/sessionManagementLambda/tests/mockObjects.ts
Due: lint-sessionManagementLambda

Test resolves as loading page is using link component now
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

Fix styling
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

fixed test
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
Due: lint-cpt-ui

[AEA-6163] add logger tests
  packages/cpt-ui/__tests__/logger.test.ts
Due: lint-cpt-ui

Fix: [AEA-6266] - Improve wording on loading/redirection screen (#1771)
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/constants/ui-strings/LoadingPage.ts
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

code coverage on accessprovider
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
Due: lint-cpt-ui

code coverage on accessprovider
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/sessionManagementHelper.test.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

code coverage on accessprovider
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
Due: lint-cpt-ui

merge conflicts
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
Due: lint-cpt-ui

Chore: [AEA-6163] - Add role selection logging (#1748)
  package-lock.json
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/logger.test.ts
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/helpers/logger.tsx
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

new endpoint for regression tests
  .github/workflows/run_regression_tests.yml
  Makefile
  package.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/RestApiGateway/RestApiGatewayMethods.ts
  packages/cdk/resources/api/apiFunctions.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/testingSupport/clearActiveSessionsTimeout/.jest/setEnvVars.js
  packages/testingSupport/clearActiveSessionsTimeout/jest.config.ts
  packages/testingSupport/clearActiveSessionsTimeout/jest.debug.config.ts
  packages/testingSupport/clearActiveSessionsTimeout/package.json
  packages/testingSupport/clearActiveSessionsTimeout/src/handler.ts
  packages/testingSupport/clearActiveSessionsTimeout/tests/mockObjects.ts
  packages/testingSupport/clearActiveSessionsTimeout/tests/test_handler.test.ts
  packages/testingSupport/clearActiveSessionsTimeout/tsconfig.json
Due: lint-cdk, lint-githubactions

ran npm i
  package-lock.json
Due: none

fixed sytnh issues
  packages/cdk/nagSuppressions.ts
Due: lint-cdk

shortened function name
  packages/cdk/resources/api/apiFunctions.ts
Due: lint-cdk

[AEA-6163] split log into multiple eventsa
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

fixed broken tests
  Makefile
  jest.default.config.ts
  package-lock.json
  package.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/RestApiGateway/RestApiGatewayMethods.ts
  packages/cdk/resources/api/apiFunctions.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/common/authFunctions/src/authenticateRequest.ts
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/common/authFunctions/src/authenticationMiddleware.ts
  packages/common/authFunctions/tests/test_authenticateRequest.test.ts
  packages/testingSupport/fakeTimerLambda/.jest/setEnvVars.js
  packages/testingSupport/fakeTimerLambda/jest.config.ts
  packages/testingSupport/fakeTimerLambda/jest.debug.config.ts
  packages/testingSupport/fakeTimerLambda/package.json
  packages/testingSupport/fakeTimerLambda/src/handler.ts
  packages/testingSupport/fakeTimerLambda/tests/mockObjects.ts
  packages/testingSupport/fakeTimerLambda/tests/test_handler.test.ts
  packages/testingSupport/fakeTimerLambda/tsconfig.json
Due: lint-cdk, lint-authFunctions

fixed synth issues
  packages/cdk/resources/RestApiGateway/RestApiGatewayMethods.ts
Due: lint-cdk

fixed synth issues
  packages/testingSupport/fakeTimerLambda/tests/test_handler.test.ts
Due: none
