Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Logging to debugs. Test repairs. Add new tests for logout path condition. Resolve rum log sent state
  packages/cpt-ui/__tests__/AccessProvider.ensureRoleSelected.test.tsx
  packages/cpt-ui/__tests__/AccessProvider.shouldBlockChildren.test.tsx
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/LoginFunctions.test.tsx
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/__tests__/logout.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.utils.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
Due: lint-cpt-ui

Remove sensitive log
  packages/cpt-ui/src/context/NavigationProvider.tsx
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

Update comment
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
Due: lint-cpt-ui

[AEA-6434] fix prescriptionStatusHistory extension url
  packages/prescriptionDetailsLambda/src/utils/types.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
  packages/prescriptionListLambda/src/utils/responseMapper.ts
  packages/prescriptionListLambda/tests/mockObjects.ts
  packages/prescriptionListLambda/tests/test_responseMapper.test.ts
Due: lint-prescriptionListLambda

Fix: [AEA-6434] - update prescriptionStatusHistory extension url (#1978)
  packages/prescriptionDetailsLambda/src/utils/types.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
  packages/prescriptionListLambda/src/utils/responseMapper.ts
  packages/prescriptionListLambda/tests/mockObjects.ts
  packages/prescriptionListLambda/tests/test_responseMapper.test.ts
Due: lint-prescriptionListLambda

sync copilot
  .github/workflows/sync_copilot.yml
Due: lint-githubactions

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Fix for multiple patients returned from PDS
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
Due: lint-cpt-ui

working version
  packages/common/commonTypes/src/sessionTimeoutModalState.ts
  packages/cpt-ui/__tests__/SessionTimeoutModal.test.tsx
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui, lint-commonTypes

Basic search test adjustments
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
Due: lint-cpt-ui

reverted the timer
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Fix: [AEA-6446] - Bug fix single patient return not loading prescription findings (#1975)
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

Ensure session logged out is also ignored from redirections to login
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Toggle session timeout modal messaging and actions on select your role page
  packages/cpt-ui/__tests__/SessionTimeoutModal.test.tsx
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
  packages/cpt-ui/src/constants/ui-strings/SessionTimeoutModalStrings.ts
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
Due: lint-cpt-ui

Include test case for new variation
  packages/cpt-ui/__tests__/SessionTimeoutModal.test.tsx
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
Due: lint-cpt-ui

Styling and improvements to how the modal opens / closes
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
Due: lint-cpt-ui

Fix test
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
Due: lint-cpt-ui

Fix test again
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
Due: lint-cpt-ui

added the conditional render back in
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Initial implementation of cdk watch
  .github/scripts/fix_cdk_json.sh
  .github/workflows/release_all_stacks.yml
  Makefile
  packages/cdk/bin/CreateAllStacks.ts
  packages/cdk/bin/LocalToPrDeploymentApp.ts
  packages/cdk/bin/MainDeploymentApp.ts
  packages/cdk/package.json
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/resources/LocalBundle.ts
  packages/cdk/resources/StaticContentDeployment.ts
  packages/cdk/stacks/StatefulResourcesStack.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/staticContent/jwks/dev-pr/jwks
  packages/staticContent/jwks/dev/jwks
  packages/staticContent/jwks/int/jwks
  packages/staticContent/jwks/prod/jwks
  packages/staticContent/jwks/qa/jwks
  packages/staticContent/jwks/ref/jwks
  scripts/run_sync.sh
Due: lint-cdk, lint-githubactions

Detect missing basic details mandatory parameters and return the user to the search
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
Due: lint-cpt-ui

Simplified CDK code and fixed package lock
  package-lock.json
  packages/cdk/bin/CreateAllStacks.ts
  packages/cdk/resources/CloudfrontLogDelivery.ts
  packages/cdk/stacks/UsCertsStack.ts
  packages/cdk/stacks/UsStatelessStack.ts
Due: lint-cdk

Fix: [AEA-6021] - conditional render for displaying roles without access table (#1983)
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

fixed package lock
  package-lock.json
Due: none

fix
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/update_dev_container_version.yml
  .pre-commit-config.yaml
Due: lint-githubactions

fixed jwks urls
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/staticContent/jwks/dev-pr/jwks.json
  packages/staticContent/jwks/dev/jwks.json
  packages/staticContent/jwks/int/jwks.json
  packages/staticContent/jwks/prod/jwks.json
  packages/staticContent/jwks/qa/jwks.json
  packages/staticContent/jwks/ref/jwks.json
Due: lint-cdk

Chore: [AEA-0000] - sync copilot (#1979)
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/sync_copilot.yml
  .pre-commit-config.yaml
Due: lint-githubactions
