Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  b58cc9a94ecc708c2525fc2e8562565684ce0ad5
Due: none

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

fixed broken tests
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
Due: lint-cpt-ui

added test coverage
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/Tab.test.tsx
Due: lint-cpt-ui

added test coverage adn fixed node error
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
Due: lint-cpt-ui

fixed compile errors
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
Due: lint-cpt-ui

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

copied over previous PR
  .devcontainer/Dockerfile
  package-lock.json
  packages/cpt-ui/__tests__/App.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/HeaderStrings.test.ts
  packages/cpt-ui/package.json
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/components/PatientDetailsBanner.tsx
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
  packages/cpt-ui/src/styles/card.scss
  packages/cpt-ui/src/styles/header.scss
  packages/staticContent/404.html
Due: lint-cpt-ui

fixed dependency issues on compile
  package-lock.json
Due: none

workaround with require shim
  packages/cpt-ui/package.json
  packages/cpt-ui/src/main.tsx
  packages/cpt-ui/src/shims/require-shim.ts
  packages/cpt-ui/vite.config.ts
Due: lint-cpt-ui

shim for require
  package-lock.json
Due: none

[AEA-5926] updated patient banner & patient results pages to handle backend pds changes and display not on record and temporary content
  package-lock.json
  packages/common/pdsClient/src/parsePatient.ts
  packages/cpt-ui/__mocks__/MockPatientDetailsProvider.tsx
  packages/cpt-ui/__mocks__/MockPrescriptionDetailsResponse.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/PatientDetailsBanner.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/fixedJsdomEnv.ts
  packages/cpt-ui/global.d.ts
  packages/cpt-ui/jest.config.ts
  packages/cpt-ui/package.json
  packages/cpt-ui/src/components/PatientDetailsBanner.tsx
  packages/cpt-ui/src/constants/misc.ts
  packages/cpt-ui/src/constants/ui-strings/PatientDetailsBannerStrings.ts
  packages/cpt-ui/src/context/PatientDetailsProvider.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
Due: lint-cpt-ui, lint-pdsClient

[AEA-5926] fix missed test
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
Due: lint-cpt-ui

work with node 24
  packages/CIS2SignOutLambda/jest.config.ts
  packages/cdk/jest.config.ts
  packages/cdk/tests/functionConstruct.test.ts
  packages/cloudfrontFunctions/jest.config.ts
  packages/cognito/jest.config.ts
  packages/cpt-ui/jest.config.ts
  packages/cpt-ui/jest.debug.config.ts
  packages/cpt-ui/tsconfig.json
  packages/patientSearchLambda/jest.config.ts
  packages/prescriptionDetailsLambda/jest.config.ts
  packages/prescriptionListLambda/jest.config.ts
  packages/selectedRoleLambda/jest.config.ts
  packages/selectedRoleLambda/jest.debug.config.ts
  packages/sessionManagementLambda/jest.config.ts
  packages/trackerUserInfoLambda/jest.config.ts
Due: lint-cdk, lint-cpt-ui, lint-cognito, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda

[AEA-5926] upgrade to node 24
  .tool-versions
  package.json
  packages/CIS2SignOutLambda/jest.config.ts
  packages/cdk/jest.config.ts
  packages/cdk/package.json
  packages/cdk/resources/LambdaFunction/helpers.ts
  packages/cdk/tests/functionConstruct.test.ts
  packages/cloudfrontFunctions/jest.config.ts
  packages/cognito/jest.config.ts
  packages/common/authFunctions/jest.config.ts
  packages/common/doHSClient/jest.config.ts
  packages/common/dynamoFunctions/jest.config.ts
  packages/common/lambdaUtils/jest.config.ts
  packages/common/middyErrorHandler/jest.config.ts
  packages/common/pdsClient/jest.config.ts
  packages/cpt-ui/jest.config.ts
  packages/cpt-ui/tsconfig.json
  packages/patientSearchLambda/jest.config.ts
  packages/prescriptionDetailsLambda/jest.config.ts
  packages/prescriptionListLambda/jest.config.ts
  packages/selectedRoleLambda/jest.config.ts
  packages/sessionManagementLambda/jest.config.ts
  packages/testingSupport/clearActiveSessions/jest.config.ts
  packages/trackerUserInfoLambda/jest.config.ts
Due: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-lambdaUtils, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions

more changes for node24
  packages/CIS2SignOutLambda/jest.config.ts
  packages/common/authFunctions/jest.config.ts
  packages/common/doHSClient/jest.config.ts
  packages/common/dynamoFunctions/jest.config.ts
  packages/common/lambdaUtils/jest.config.ts
  packages/common/middyErrorHandler/jest.config.ts
  packages/common/pdsClient/jest.config.ts
  packages/testingSupport/clearActiveSessions/jest.config.ts
Due: lint-pdsClient, lint-middyErrorHandler, lint-lambdaUtils, lint-CIS2SignOutLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
