Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

fixed ternary logic for title
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

added new urls for patient not found and no prescriptions
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/NoPatientsFoundPage.tsx
  packages/cpt-ui/src/pages/NoPrescriptionsFoundPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

Notes added by 'git notes add'
  6591988fb5bba573400b3b352938fdbbec7bb4ba
Due: none

multi patients title
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
Due: lint-cpt-ui

added testing
  packages/cpt-ui/__tests__/NoPatientsFoundPage.test.tsx
  packages/cpt-ui/__tests__/NoPrescriptionsFoundPage.test.tsx
  packages/cpt-ui/__tests__/SearchResultsTooManyMessage.test.tsx
  packages/cpt-ui/src/components/SearchResultsTooManyMessage.tsx
  packages/cpt-ui/src/constants/ui-strings/SearchResultsTooManyStrings.ts
Due: lint-cpt-ui

further changes
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
Due: lint-cpt-ui

button styling
  packages/cpt-ui/src/components/PrescriptionInformationBanner.tsx
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: lint-cpt-ui

fixed typo
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update node-forge
  package-lock.json
Due: none

extracted missing text
  packages/cpt-ui/src/constants/ui-strings/BasicDetailsSearchResultsPageStrings.ts
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
Due: lint-cpt-ui

Fix: [AEA-5918] - update page titles plus new urls (#1686)
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/NoPatientsFoundPage.test.tsx
  packages/cpt-ui/__tests__/NoPrescriptionsFoundPage.test.tsx
  packages/cpt-ui/__tests__/SearchResultsTooManyMessage.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/SearchResultsTooManyMessage.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/constants/ui-strings/BasicDetailsSearchResultsPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/SearchResultsTooManyStrings.ts
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/NoPatientsFoundPage.tsx
  packages/cpt-ui/src/pages/NoPrescriptionsFoundPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

[AEA-5926] update regression test tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

[AEA-5926] fix package lock
  package-lock.json
Due: none

nhs button introduced and styled
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: none

announces copied when clicked for screen readers
  packages/cpt-ui/src/components/PrescriptionInformationBanner.tsx
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: lint-cpt-ui

fixed width
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: none

focus state for button sorted
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: none

more styling
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: none

fix package-lock
  package-lock.json
Due: none

remove first await import
  packages/cognito/tests/test_authorize.test.ts
  packages/cognito/tests/test_authorizeMock.test.ts
  packages/cognito/tests/test_callback.test.ts
  packages/cognito/tests/test_callbackMock.test.ts
  packages/cognito/tests/test_rewriteBody.test.ts
  packages/cognito/tests/test_token.cis2.test.ts
  packages/cognito/tests/test_token.failure.test.ts
  packages/cognito/tests/test_token.mock.test.ts
Due: lint-cognito

remove more await import
  packages/common/authFunctions/tests/test_apigeeUtils.test.ts
  packages/common/authFunctions/tests/test_authenticateRequest.test.ts
  packages/common/authFunctions/tests/test_authenticationConcurrentAwareMiddleware.test.ts
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
  packages/common/authFunctions/tests/test_cis2TokenHelpers.test.ts
  packages/common/authFunctions/tests/test_constructSignedJWTBody.test.ts
  packages/common/authFunctions/tests/test_userInfoHelpers.test.ts
Due: lint-authFunctions

last lot of await import
  packages/prescriptionDetailsLambda/tests/test_handler.test.ts
  packages/prescriptionDetailsLambda/tests/test_prescriptionService.test.ts
Due: none

fix imports
  packages/prescriptionDetailsLambda/tests/test_prescriptionService.test.ts
Due: none

styled button
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: none
