Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

use common workflow
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/dependabot_auto_approve_and_merge.yml
  .github/workflows/link_dev_website.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - use common workflow (#1509)
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/cdk_package_code.yml
  .github/workflows/ci.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/dependabot_auto_approve_and_merge.yml
  .github/workflows/link_dev_website.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_all_stacks.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

getting there with styling
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

implemented some css and some of the header
  package-lock.json
  packages/cpt-ui/package.json
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/components/AppHeader.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

changes
  packages/cpt-ui/src/components/AppHeader.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

nuclear option to get menu to render working, needs tidying up
  packages/cpt-ui/src/components/AppHeader.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

Notes added by 'git notes add'
  e9bfc1fc449f4bf2cc22a3a4f4f6505895d089ec
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

working again
  packages/cpt-ui/src/components/Header2.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

further tidy up, needs a lot of css clear up
  packages/cpt-ui/src/styles/header.scss
Due: none

test new qc
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

removed some unused css and neatened up look
  packages/cpt-ui/src/components/Header2.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

removed some unused css and neatened up look
  packages/cpt-ui/src/styles/header.scss
Due: none

removed loads of unncessary styling
  packages/cpt-ui/src/styles/header.scss
Due: none

removed loads more unncessary styling
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

added skip link
  packages/cpt-ui/src/components/AppHeader.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

made entire card clickable
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

change log group to vended logs
  packages/cdk/resources/usRegionLogGroups.ts
Due: lint-cdk

refactored return statement to make logic of header work and links
  packages/cpt-ui/src/components/AppHeader.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
Due: lint-cpt-ui

fixed placement of more dropdown
  packages/cpt-ui/src/styles/header.scss
Due: none

fixed name and logo being seperate links
  packages/cpt-ui/src/components/AppHeader.tsx
  packages/cpt-ui/src/styles/header.scss
Due: lint-cpt-ui

fixed some table styling issues
  packages/cpt-ui/src/styles/header.scss
Due: none
