Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

changed lsit to use definition list
  packages/cpt-ui/src/components/PatientDetailsBanner.tsx
  packages/cpt-ui/src/styles/patientDetailsBanner.scss
Due: lint-cpt-ui

updated banner naming
  packages/cpt-ui/src/components/PatientDetailsBanner.tsx
  packages/cpt-ui/src/constants/ui-strings/PatientDetailsBannerStrings.ts
Due: lint-cpt-ui

started titling process
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/constants/ui-strings/CardStrings.ts
  packages/cpt-ui/src/constants/ui-strings/SessionSelectionPage.ts
  packages/cpt-ui/src/hooks/usePageTitle.ts
  packages/cpt-ui/src/pages/SessionSelection.tsx
Due: lint-cpt-ui

further work on titles
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/constants/ui-strings/ChangeRolePageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/CookieStrings.ts
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
  packages/cpt-ui/src/pages/CookiePolicyPage.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/PrivacyNoticePage.tsx
Due: lint-cpt-ui

further work on titles
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
  packages/cpt-ui/src/constants/ui-strings/BasicDetailsSearchStrings.ts
  packages/cpt-ui/src/constants/ui-strings/ChangeRolePageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/NhsNumSearchStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionDetailsPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/SearchForAPrescriptionStrings.ts
Due: lint-cpt-ui

further titles updated
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/NotFoundPage.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionDetailsPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/YourSelectedRoleStrings.ts
  packages/cpt-ui/src/pages/NotFoundPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui

finished titles
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
  packages/cpt-ui/src/constants/ui-strings/BasicDetailsSearchStrings.ts
  packages/cpt-ui/src/constants/ui-strings/NhsNumSearchStrings.ts
  packages/cpt-ui/src/constants/ui-strings/SearchForAPrescriptionStrings.ts
Due: lint-cpt-ui

styling for error boxes
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
  packages/cpt-ui/src/styles/searchforaprescription.scss
Due: lint-cpt-ui

updated hint text association
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
Due: lint-cpt-ui

fixed unit tests
  packages/cpt-ui/__tests__/PatientDetailsBanner.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/usePageTitle.test.tsx
Due: lint-cpt-ui

fixed broken tests
  packages/cpt-ui/__tests__/PatientDetailsBanner.test.tsx
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

underline header on hover
  packages/cpt-ui/src/styles/header.scss
Due: none

cant interact with the background
  packages/cpt-ui/src/components/EpsLogoutModal.tsx
  packages/cpt-ui/src/components/EpsModal.tsx
Due: lint-cpt-ui

refactored the modal
  packages/cpt-ui/src/components/EpsModal.tsx
  packages/cpt-ui/src/styles/EpsModal.scss
Due: lint-cpt-ui

removed the x button
  packages/cpt-ui/src/components/EpsModal.tsx
  packages/cpt-ui/src/styles/EpsModal.scss
Due: lint-cpt-ui

got tests working
  packages/cpt-ui/__tests__/EpsModal.test.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

started making the new header
  packages/cpt-ui/src/Layout.tsx
  packages/cpt-ui/src/components/icons/NhsLogo.tsx
  packages/cpt-ui/src/components/newHeader.tsx
  packages/cpt-ui/src/styles/NewHeader.scss
Due: lint-cpt-ui

header links plus styling
  packages/cpt-ui/src/components/newHeader.tsx
  packages/cpt-ui/src/styles/NewHeader.scss
Due: lint-cpt-ui

more styling changes
  packages/cpt-ui/src/components/newHeader.tsx
  packages/cpt-ui/src/styles/NewHeader.scss
Due: lint-cpt-ui

mobile styling sorted
  packages/cpt-ui/src/components/newHeader.tsx
  packages/cpt-ui/src/styles/NewHeader.scss
Due: lint-cpt-ui

mobile styling
  packages/cpt-ui/src/components/newHeader.tsx
Due: lint-cpt-ui

updated repo tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fixed additional test for auth context field changes
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
Due: lint-cpt-ui

Fix: [AEA-5965] - Speculative fixes for users being incorrectly told they have no access (#1609)
  .vscode/eps-prescription-tracker-ui.code-workspace
  packages/common/commonTypes/src/trackerUserInfo.ts
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/__tests__/userInfo.test.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/selectedRoleLambda/src/handler.ts
  packages/selectedRoleLambda/tests/test_handler.test.ts
Due: lint-cpt-ui, lint-commonTypes, lint-selectedRoleLambda

changed styling and made element a fragment
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
  packages/cpt-ui/src/constants/ui-strings/BasicDetailsSearchStrings.ts
  packages/cpt-ui/src/constants/ui-strings/CardStrings.ts
  packages/cpt-ui/src/constants/ui-strings/ChangeRolePageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/CookieStrings.ts
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/NhsNumSearchStrings.ts
  packages/cpt-ui/src/constants/ui-strings/NotFoundPage.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionDetailsPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
  packages/cpt-ui/src/constants/ui-strings/SearchForAPrescriptionStrings.ts
  packages/cpt-ui/src/constants/ui-strings/SessionSelectionPage.ts
  packages/cpt-ui/src/constants/ui-strings/YourSelectedRoleStrings.ts
  packages/cpt-ui/src/pages/CookiePolicyPage.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/NotFoundPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/PrivacyNoticePage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/src/pages/SessionSelection.tsx
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui

fixed compile issue
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

fixed build
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
Due: lint-cpt-ui

Fix: [AEA-5402] - fix tabs in focus plus more (#1637)
  .github/workflows/run_regression_tests.yml
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/__tests__/EpsTabs.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/components/EpsTabs.tsx
  packages/cpt-ui/src/constants/ui-strings/CardStrings.ts
  packages/cpt-ui/src/constants/ui-strings/ChangeRolePageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListTabStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
  packages/cpt-ui/src/pages/PrivacyNoticePage.tsx
  packages/cpt-ui/src/styles/main.scss
Due: lint-cpt-ui, lint-githubactions

[AEA-5926] revert devcontainer image and refix jest files for node 24
  .devcontainer/Dockerfile
  packages/CIS2SignOutLambda/jest.config.ts
  packages/cdk/jest.config.ts
  packages/cloudfrontFunctions/jest.config.ts
  packages/cognito/jest.config.ts
  packages/common/authFunctions/jest.config.ts
  packages/common/doHSClient/jest.config.ts
  packages/common/dynamoFunctions/jest.config.ts
  packages/common/lambdaUtils/jest.config.ts
  packages/common/middyErrorHandler/jest.config.ts
  packages/common/pdsClient/jest.config.ts
  packages/patientSearchLambda/jest.config.ts
  packages/prescriptionDetailsLambda/jest.config.ts
  packages/prescriptionListLambda/jest.config.ts
  packages/selectedRoleLambda/jest.config.ts
  packages/sessionManagementLambda/jest.config.ts
  packages/testingSupport/clearActiveSessions/jest.config.ts
  packages/trackerUserInfoLambda/jest.config.ts
Due: lint-cdk, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-lambdaUtils, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions

Notes added by 'git notes add'
  37422cc36ff3cff8c7f24079989c3b9ec27ab1af
Due: none

got tests working, corrected case of strings and added prescription details banner
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/src/components/PatientDetailsBanner.tsx
  packages/cpt-ui/src/components/PrescriptionInformationBanner.tsx
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/constants/ui-strings/BasicDetailsSearchStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PatientDetailsBannerStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionInformationBannerStrings.ts
  packages/cpt-ui/src/helpers/basicDetailsValidationMeta.tsx
  packages/cpt-ui/src/helpers/validateBasicDetails.tsx
Due: lint-cpt-ui

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
