Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Updated to fixed regression test version
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

fixed broken test
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

fixed broken test
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

added missing punctuation
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

new repo tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

removed debugging script
  run_regression_tests.py
Due: none

sorted alt text and announced text
  .devcontainer/Dockerfile
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListTableStrings.ts
  packages/cpt-ui/src/styles/PrescriptionTable.scss
Due: lint-cpt-ui

made copy work as expected
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/styles/PrescriptionTable.scss
Due: lint-cpt-ui

tidied up code and used new class for styling
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/styles/PrescriptionTable.scss
Due: lint-cpt-ui

put proper styling on copy button
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: none

updated privacy notice
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
  packages/cpt-ui/src/pages/PrivacyNoticePage.tsx
Due: lint-cpt-ui

most changes done
  .github/workflows/run_regression_tests.yml
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/components/EpsTabs.tsx
  packages/cpt-ui/src/pages/PrivacyNoticePage.tsx
Due: lint-cpt-ui, lint-githubactions

fixed page when cycling tabs
  packages/cpt-ui/src/styles/main.scss
Due: none

implemented changes and updated repo tag
  .github/workflows/run_regression_tests.yml
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui, lint-githubactions

fixed broken test
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListTabStrings.ts
Due: lint-cpt-ui

test coverage
  packages/cpt-ui/__tests__/EpsTabs.test.tsx
Due: lint-cpt-ui

fixed broken test
  packages/cpt-ui/__tests__/EpsTabs.test.tsx
Due: lint-cpt-ui

fixed test
  packages/cpt-ui/__tests__/EpsTabs.test.tsx
  packages/cpt-ui/src/components/EpsTabs.tsx
Due: lint-cpt-ui

Fix: [AEA-5327] - new tabsets (#1607)
  .github/workflows/run_regression_tests.yml
  .tool-versions
  package-lock.json
  packages/CIS2SignOutLambda/jest.config.ts
  packages/cdk/jest.config.ts
  packages/cloudfrontFunctions/jest.config.ts
  packages/cognito/jest.config.ts
  packages/common/authFunctions/jest.config.ts
  packages/common/doHSClient/jest.config.ts
  packages/common/dynamoFunctions/jest.config.ts
  packages/common/lambdaUtils/jest.config.ts
  packages/common/middyErrorHandler/jest.config.ts
  packages/common/pdsClient/jest.config.ts
  packages/cpt-ui/__mocks__/searchforaprescription.scss.js
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/Tab.test.tsx
  packages/cpt-ui/__tests__/searchforaprescription.scss.test.tsx
  packages/cpt-ui/jest.config.ts
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/package.json
  packages/cpt-ui/src/components/tab-set/TabSet.tsx
  packages/cpt-ui/src/components/tab-set/_TabSet.scss
  packages/cpt-ui/src/components/tab-set/components/Tab.tsx
  packages/cpt-ui/src/components/tab-set/index.ts
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/styles/searchforaprescription.scss
  packages/patientSearchLambda/jest.config.ts
  packages/prescriptionDetailsLambda/jest.config.ts
  packages/prescriptionListLambda/jest.config.ts
  packages/selectedRoleLambda/jest.config.ts
  packages/sessionManagementLambda/jest.config.ts
  packages/testingSupport/clearActiveSessions/jest.config.ts
  packages/trackerUserInfoLambda/jest.config.ts
Due: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-lambdaUtils, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

added test coverage
  packages/cpt-ui/__tests__/EpsTabs.test.tsx
Due: lint-cpt-ui

Fix: [AEA-5397] - update view prescription (#1636)
  .devcontainer/Dockerfile
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListTableStrings.ts
  packages/cpt-ui/src/styles/PrescriptionTable.scss
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: lint-cpt-ui

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
