Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

nearly sorted all screen sizes
  packages/cpt-ui/src/styles/header.scss
Due: none

got dropdown header working
  packages/cpt-ui/src/styles/header.scss
Due: none

Notes added by 'git notes add'
  25ffd99a0af0ce155b9d4a4972805943de922d3e
Due: none

added bottom border styling
  packages/cpt-ui/src/styles/header.scss
Due: none

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

sorted dropdown placement
  packages/cpt-ui/src/styles/header.scss
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

fixed card styling
  packages/cpt-ui/src/styles/card.scss
Due: none

extracted text
  packages/cpt-ui/src/App.tsx
Due: lint-cpt-ui

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

[AEA-5926] adds common schema elements, initial patient parsing common logic and tests
  package-lock.json
  packages/common/pdsClient/package.json
  packages/common/pdsClient/src/interactions/patientDetailsLookup/schema.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/types.ts
  packages/common/pdsClient/src/interactions/patientDetailsLookup/utils.ts
  packages/common/pdsClient/src/interactions/patientSearch/interaction.ts
  packages/common/pdsClient/src/interactions/patientSearch/schema.ts
  packages/common/pdsClient/src/parsePatient.ts
  packages/common/pdsClient/src/schema/address.ts
  packages/common/pdsClient/src/schema/elements.ts
  packages/common/pdsClient/src/schema/name.ts
  packages/common/pdsClient/src/schema/patient.ts
  packages/common/pdsClient/src/schema/responseValidator.ts
  packages/common/pdsClient/tests/patientDetailsLookup/test_mapPdsResponseToPatientDetails.test.ts
  packages/common/pdsClient/tests/patientSearch/test_patientsearch.test.ts
  packages/common/pdsClient/tests/test_parsePatient.test.ts
Due: lint-pdsClient

improved focus styling, needto pin the dropdown menu in place now
  packages/cpt-ui/src/styles/header.scss
Due: none

sorted styling of focus headers items
  packages/cpt-ui/src/styles/header.scss
Due: none

fixed focus and hover styling on card
  packages/cpt-ui/src/styles/card.scss
Due: none

added conditional skip link logic
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/ConditionalSkipLink.tsx
  packages/cpt-ui/src/components/PatientDetailsBanner.tsx
Due: lint-cpt-ui

refactored
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/ConditionalSkipLink.tsx
Due: lint-cpt-ui

added aria-labels
  packages/cpt-ui/src/components/AppHeader.tsx
Due: lint-cpt-ui

fixed mobile dropdown placement
  packages/cpt-ui/src/styles/header.scss
Due: none

fixed dropdown position
  packages/cpt-ui/src/styles/header.scss
Due: none

got menu placement sorted for mobile
  packages/cpt-ui/src/styles/header.scss
Due: none

styling done, now bug checks
  packages/cpt-ui/src/styles/header.scss
Due: none

changed z-index to show dropdown menu nabove headers
  packages/cpt-ui/src/styles/header.scss
Due: none

[AEA-5926] update logic to handle edge case and add more tests
  packages/common/pdsClient/src/parsePatient.ts
  packages/common/pdsClient/tests/test_parsePatient.test.ts
Due: lint-pdsClient

base with working mobile refresh
  packages/cpt-ui/src/components/AppHeader.tsx
Due: lint-cpt-ui

working?
  packages/cpt-ui/src/components/AppHeader.tsx
Due: lint-cpt-ui

[AEA-5926] update comments and wire up new logic for patient search
  packages/common/pdsClient/src/interactions/patientSearch/interaction.ts
  packages/common/pdsClient/src/parsePatient.ts
  packages/common/pdsClient/tests/patientSearch/test_patientsearch.test.ts
  packages/common/pdsClient/tests/test_parsePatient.test.ts
Due: lint-pdsClient

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

reduced delay on mobile view
  packages/cpt-ui/src/components/AppHeader.tsx
Due: lint-cpt-ui

working when flicking between and refreshing sizes
  packages/cpt-ui/src/components/AppHeader.tsx
Due: lint-cpt-ui

Notes added by 'git notes add'
  0351b5dd2656987482c4178c89d873077fff4230
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
