Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

logger function woprking
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/NhsNumSearch.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/awsRumHelper.test.tsx
  packages/cpt-ui/__tests__/formValidationLogger.test.tsx
  packages/cpt-ui/jest.config.ts
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/components/prescriptionSearch/BasicDetailsSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/NhsNumSearch.tsx
  packages/cpt-ui/src/components/prescriptionSearch/PrescriptionIdSearch.tsx
  packages/cpt-ui/src/helpers/formValidationLogger.tsx
  packages/cpt-ui/src/helpers/logger.tsx
  packages/cpt-ui/tsconfig.json
Due: lint-cpt-ui

wip
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

[AEA-65504] updates UI to support the old and new format of the pending cancellation extension on both responses
  packages/common/commonTypes/src/prescriptionList.ts
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionListTab.test.tsx
  packages/cpt-ui/__tests__/PrescriptionListTable.test.tsx
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
  packages/prescriptionDetailsLambda/src/utils/responseMapper.ts
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
  packages/prescriptionListLambda/src/utils/responseMapper.ts
  packages/prescriptionListLambda/tests/test_handler.test.ts
  packages/prescriptionListLambda/tests/test_prescriptionsLookupService.test.ts
  packages/prescriptionListLambda/tests/test_responseMapper.test.ts
Due: lint-cpt-ui, lint-commonTypes, lint-prescriptionListLambda

[AEA-6504] misc cleanuo
  packages/common/commonTypes/src/prescriptionList.ts
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
Due: lint-commonTypes

copilot refactor of mocking aws rum
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/awsRumHelper.test.tsx
  packages/cpt-ui/__tests__/logger.test.ts
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/helpers/formValidationLogger.tsx
Due: lint-cpt-ui

fixed file imports syntax
  packages/cpt-ui/__tests__/formValidationLogger.test.tsx
  packages/cpt-ui/jest.config.ts
  packages/cpt-ui/tsconfig.json
Due: lint-cpt-ui

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

timeout modal added to select your session page
  packages/cpt-ui/__tests__/SessionTimeoutModal.test.tsx
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
Due: lint-cpt-ui

Intercept session timeout action on session selection too
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
Due: lint-cpt-ui

changed all references to epssupport email
  SECURITY.md
  packages/cpt-ui/__tests__/AccessibilityStatementPage.test.tsx
  packages/cpt-ui/__tests__/EpsRichText.test.tsx
  packages/cpt-ui/src/components/LoadingPageWarning.tsx
  packages/cpt-ui/src/constants/ui-strings/AccessibilityStatementStrings.ts
Due: lint-cpt-ui

Added test for timeout modal on select active session page
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

bump dev container version
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  zizmor.yml
Due: lint-githubactions

Chore: [AEA-0000] - bump dev container version to 1.4.8 (#2024)
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  zizmor.yml
Due: lint-githubactions

chnaged mailto link to be one line
  packages/cpt-ui/src/components/LoadingPageWarning.tsx
Due: lint-cpt-ui

add gitleaks
  .gitallowed
  .gitleaksignore
  .pre-commit-config.yaml
Due: none
