Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

[AEA-6072] test no timeout
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

[AEA-6072] test no timeout
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
Due: lint-cpt-ui

[AEA-6072] test no timeout
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
Due: lint-cpt-ui

[AEA-6072] remove timer for user info check
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Fix: [AEA-5081] - header plus others (#1709)
  packages/common/commonTypes/src/index.ts
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EpsSpinner.tsx
  packages/cpt-ui/src/components/EpsTabs.tsx
  packages/cpt-ui/src/constants/ui-strings/EpsSpinnerStrings.ts
  packages/cpt-ui/src/pages/PrivacyNoticePage.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
  packages/cpt-ui/src/styles/header.scss
  packages/cpt-ui/src/styles/searchforaprescription.scss
  packages/cpt-ui/src/styles/tabs.scss
  packages/prescriptionDetailsLambda/src/services/getPatientDetails.ts
  packages/prescriptionDetailsLambda/src/services/prescriptionService.ts
  packages/prescriptionListLambda/src/handler.ts
Due: lint-cpt-ui, lint-commonTypes, lint-prescriptionListLambda

[AEA-6072] tweak uer info check to check on mount and periodically
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

[AEA-6072] tweak uer info check to check on mount and periodically
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
Due: lint-cpt-ui

Fix: [AEA-0000] - Add Cloudfront KVS escape hatch workaround (#1712)
  package-lock.json
  packages/cdk/package.json
  packages/cdk/resources/CloudfrontBehaviors.ts
Due: lint-cdk

Notes added by 'git notes add'
  bbc31aa7533116d49ed826f757d923283fd2935d
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

try latest aws-cdk
  .github/workflows/pull_request.yml
  package-lock.json
Due: lint-githubactions

use static version #skip-qc
  .github/workflows/pull_request.yml
Due: lint-githubactions

force lower cdk version
  package-lock.json
  packages/cdk/package.json
Due: lint-cdk

align cdk versions #skip-qc
  package-lock.json
  packages/cdk/package.json
Due: lint-cdk

exclude kvs from tags #skip-qc
  packages/cdk/bin/StatelessResourcesApp.ts
Due: lint-cdk

first draft
  packages/cognito/src/token.ts
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/SessionTimeoutModalStrings.ts
  packages/cpt-ui/src/helpers/axios.tsx
  packages/cpt-ui/src/helpers/sessionManagement.tsx
  packages/cpt-ui/src/helpers/sessionTimeoutManager.ts
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/src/styles/EpsModal.scss
Due: lint-cpt-ui, lint-cognito

New: [AEA-6072] - Reduce auth session check timing (#1710)
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

added more test coverage
  packages/cpt-ui/__tests__/App.test.tsx
Due: lint-cpt-ui

add extra exclusion
  .trivyignore.yaml
Due: none
