Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

[AEA-6360] add preselected confirmation role log
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

made table conditionally rendered
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Strings WIP
  packages/cpt-ui/src/constants/ui-strings/AccessibilityStatement.ts
  packages/cpt-ui/src/pages/AccessibilityStatementPage.tsx
Due: lint-cpt-ui

Modify session timed out invalid session cause reason
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
Due: lint-cpt-ui

Test resolves
  packages/cpt-ui/__tests__/useSessionTimeout.test.tsx
Due: lint-cpt-ui

sonarcloud suggestions
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

[AEA-6360] add condition to only log on select role not change
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

[AEA-6360] tweak condition
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Accessibility statement page, with tests and link rich content component to make handling links easier
  packages/cpt-ui/__tests__/AccessibilityStatementPage.test.tsx
  packages/cpt-ui/__tests__/EpsRichText.test.tsx
  packages/cpt-ui/src/components/EpsRichText.tsx
  packages/cpt-ui/src/constants/ui-strings/AccessibilityStatementStrings.ts
  packages/cpt-ui/src/pages/AccessibilityStatementPage.tsx
Due: lint-cpt-ui

Fix testid for the page
  packages/cpt-ui/src/pages/AccessibilityStatementPage.tsx
Due: lint-cpt-ui

workflow to update dev container
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

add dependabot cooldown
  .github/dependabot.yml
Due: lint-githubactions

fix indent
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

Fix: [AEA-6360] - add additional role confirmation log point (#1948)
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

made condition safer
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

small refactoring for neatness
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

merged with main
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Alphabetical ordering of footer links
  packages/cpt-ui/src/constants/ui-strings/FooterStrings.ts
Due: lint-cpt-ui

added unit test
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
Due: lint-cpt-ui

Typo on screen readers
  packages/cpt-ui/src/constants/ui-strings/AccessibilityStatementStrings.ts
Due: lint-cpt-ui

Fix: [AEA-6327] - missing prescriptions fix (#1860)
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/mocks/AuthStateMock.tsx
  packages/cpt-ui/src/components/prescriptionList/PrescriptionsListTable.tsx
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/constants/ui-strings/PrescriptionListTableStrings.ts
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui

copilot suggestions
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Fix: [AEA-6021] - remove empty roles without access table (#1947)
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Split out US stateless and frontdoor stacks and fixed token handling in static content build
  .github/workflows/release_all_stacks.yml
  Makefile
  packages/cdk/bin/MainDeploymentApp.ts
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/resources/LocalBundle.ts
  packages/cdk/resources/StaticContentDeployment.ts
  packages/cdk/stacks/FrontDoorStack.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsStatelessStack.ts
Due: lint-cdk, lint-githubactions

Fixed dependency order in release pipelines
  .github/workflows/release_all_stacks.yml
Due: lint-githubactions

changed log levels and added some testing
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/common/authFunctions/src/authenticationMiddleware.ts
  packages/common/authFunctions/tests/test_authenticationConcurrentAwareMiddleware.test.ts
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui, lint-authFunctions

changed log levels and added testing
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/common/authFunctions/src/authenticationMiddleware.ts
  packages/common/authFunctions/tests/test_authenticationConcurrentAwareMiddleware.test.ts
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
  packages/cpt-ui/__tests__/PrescriptionListPage.test.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui, lint-authFunctions

tests
  packages/common/authFunctions/tests/test_authenticationConcurrentAwareMiddleware.test.ts
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
Due: lint-authFunctions

Fixed github allow list and cfn guard suppressions
  .github/workflows/release_all_stacks.yml
  .gitignore
  packages/cdk/bin/MainDeploymentApp.ts
  packages/cdk/nagSuppressions.ts
Due: lint-cdk, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
