Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

added id to fix broken aria link
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

fixed it so skip link is first tabbable item
  packages/cpt-ui/src/App.tsx
Due: lint-cpt-ui

Fix: [AEA-5395] - added hover styling back in (#1708)
  packages/cpt-ui/src/styles/prescriptionInformationBanner.scss
Due: none

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

[AEA-6072] reduce auth check timer to 1 min
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

[AEA-6072] testing pinned cdk version
  packages/cdk/package.json
Due: lint-cdk

[AEA-6072] testing pinned cdk version
  package-lock.json
Due: none

[AEA-0000] pin cdk version
  packages/cdk/package.json
Due: lint-cdk

[AEA-0000] regen package-lock
  package-lock.json
Due: none

fixed brokjen tests
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
Due: lint-cpt-ui

removed incorrect focus from tabs
  packages/cpt-ui/src/components/EpsTabs.tsx
Due: lint-cpt-ui

Fix: [AEA-0000] - Pin CDK version (#1711)
  package-lock.json
  packages/cdk/package.json
Due: lint-cdk

Notes added by 'git notes add'
  f9e99b3483dd8ef2ab37e602849270c8a0324b6f
Due: none

fixed styling for tabs
  packages/cpt-ui/src/components/EpsTabs.tsx
  packages/cpt-ui/src/styles/tabs.scss
Due: lint-cpt-ui

brought focus state to clicking on tabs too
  packages/cpt-ui/src/components/EpsTabs.tsx
Due: lint-cpt-ui

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

[AEA-0000] unpin cdk and add cf kvs workaround
  package-lock.json
  packages/cdk/package.json
  packages/cdk/resources/CloudfrontBehaviors.ts
Due: lint-cdk

persisted styling
  packages/cpt-ui/src/components/EpsTabs.tsx
Due: lint-cpt-ui

changed hyphens to en dashes
  packages/cpt-ui/src/constants/ui-strings/PrivacyNoticeStrings.ts
Due: lint-cpt-ui

repo tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

tidying up
  packages/cpt-ui/src/components/EpsTabs.tsx
Due: lint-cpt-ui
