Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Restore nag file
  packages/cdk/nagSuppressions.ts
Due: lint-cdk

add acl to distribution another way #skip-qc
  packages/cdk/resources/CloudfrontDistribution.ts
Due: lint-cdk

fix: sync localStorage auth state with Amplify session on startup
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/__tests__/Layout.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Fix: [AEA-5127] - cloudfront and waf logs to splunk (#1305)
  .github/scripts/fix_cdk_json.sh
  .github/workflows/release_all_stacks.yml
  Makefile
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/CloudfrontDistribution.ts
  packages/cdk/resources/CloudfrontLogDelivery.ts
  packages/cdk/resources/WebApplicationFirewall.ts
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/resources/usRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
  packages/cdk/stacks/UsCertsStack.ts
  packages/common/pdsClient/tests/patientSearch/test_patientsearch.test.ts
Due: lint-cdk, lint-pdsClient, lint-githubactions

corrected title typo and added test to confirm
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
Due: none

use custom name #skip-qc
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/resources/usRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

fix: adds access control bypass via URL parameters guard
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Fix: [AEA-0000] - use custom name for policy (#1309)
  packages/cdk/resources/ukRegionLogGroups.ts
  packages/cdk/resources/usRegionLogGroups.ts
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

added logs in lambda
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
  packages/prescriptionDetailsLambda/src/utils/responseMapper.ts
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Forced logout for timeout or concurrency
  packages/common/authFunctions/src/authenticationConcurrentAwareMiddleware.ts
  packages/common/commonTypes/src/index.ts
  packages/common/commonTypes/src/trackerUserInfo.ts
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/constants/ui-strings/EpsLogoutPageStrings.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
Due: lint-cpt-ui, lint-commonTypes, lint-authFunctions

chore: reverts unneeded changes for bug fix
  packages/cpt-ui/__tests__/Layout.test.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
Due: lint-cpt-ui

chore: e2e tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

removed headers from stateless resources
  packages/cdk/stacks/StatelessResourcesStack.ts
Due: lint-cdk

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

reverted name to pharmacy status. added tag colour to pharmacy status on history
  packages/common/commonTypes/src/prescriptionDetails.ts
  packages/cpt-ui/__tests__/ItemsCards.test.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards/SummaryListRow.tsx
  packages/cpt-ui/src/constants/ui-strings/PrescribedDispensedItemsCardsStrings.ts
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
  packages/prescriptionDetailsLambda/tests/test_fhirMapper.test.ts
  packages/prescriptionDetailsLambda/tests/test_responseMapper.test.ts
Due: lint-cpt-ui, lint-commonTypes

tabbed in content to fit page
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
Due: lint-cpt-ui

tidying up debug code
  packages/prescriptionDetailsLambda/src/utils/fhirMappers.ts
  packages/prescriptionDetailsLambda/src/utils/responseMapper.ts
Due: none

added policy to additional behaviours
  packages/cdk/resources/CloudfrontBehaviors.ts
Due: lint-cdk

Fix up catching trackeruserinfo invalid session cause
  packages/cdk/resources/Cognito.ts
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/context/configureAmplify.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/vite-env.d.ts
Due: lint-cdk, lint-cpt-ui

Notes added by 'git notes add'
  1f763c9b626c7625f631243df4d1290a0f8f2048
Due: none

fix: syncs local rolesWithAccess state with backend
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
Due: lint-cpt-ui

test: adds test coverage for local state synching
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/__tests__/userInfo.test.tsx
Due: lint-cpt-ui

chore: removes unneeded state update
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

refactor: changes table component to summarylist component
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui

Fix: [AEA-5312] - investigate mock user odd behaviour (#1313)
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/__tests__/userInfo.test.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
Due: lint-cpt-ui

chore: removes query parameter useffect trigger
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

tidied up code and fixed styling
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards.tsx
  packages/cpt-ui/src/components/prescriptionDetails/ItemsCards/SummaryListRow.tsx
  packages/cpt-ui/src/constants/ui-strings/PrescribedDispensedItemsCardsStrings.ts
  packages/cpt-ui/src/styles/summarylist.scss
Due: lint-cpt-ui

Resolve incorrect login state - Working forced logout
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  scripts/run_sync.sh
Due: lint-cpt-ui

Fix: [AEA-5337] - "your selected role" table component accessibility fix (#1314)
  packages/cpt-ui/src/pages/YourSelectedRolePage.tsx
Due: lint-cpt-ui
