Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Test adjustments - Not working
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/components/EpsCard.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

Fixes for logouts
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

Adjustments
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

Switch effect to async
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Multiple fixes for login / logout conditions #skip-qc
  packages/cpt-ui/src/components/EpsCard.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/helpers/sessionManagement.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/SessionSelection.tsx
Due: lint-cpt-ui

Fix blank root
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Tests resolved
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/helpers/sessionManagement.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
Due: lint-cpt-ui

Auth function test modifications
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
Due: lint-authFunctions

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

Await auth config loaded #skip-qc
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
Due: lint-cpt-ui

Build in additional AuthProvider parameter
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
Due: lint-cpt-ui

Fix test auth context type #skip-qc
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
Due: lint-cpt-ui

Fix single access with multiple no access roles redirection
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
Due: lint-cpt-ui

Clean up effect deps
  packages/cpt-ui/src/pages/LoginPage.tsx
Due: lint-cpt-ui

Fix site with / path redirect
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Modify where amplify is configured
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
Due: lint-cpt-ui

Path adjustments #no-verify
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Added signing out redirect interrupt #skip-qc
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
Due: lint-cpt-ui

actually Added signing out redirect interrupt #skip-qc
  packages/cpt-ui/src/context/AccessProvider.tsx
Due: lint-cpt-ui

Fixd unit tests
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
Due: lint-cpt-ui

Fix: [AEA-5794] - Fix auth redirection issues (#1369)
  packages/common/authFunctions/src/authenticationMiddleware.ts
  packages/common/authFunctions/tests/test_authenticationMiddleware.test.ts
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/AuthProvider.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearch.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsCard.test.tsx
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/LoginPage.test.tsx
  packages/cpt-ui/__tests__/LogoutPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/PrescriptionIdSearch.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/src/components/EpsCard.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/AccessProvider.tsx
  packages/cpt-ui/src/context/AuthProvider.tsx
  packages/cpt-ui/src/helpers/logout.tsx
  packages/cpt-ui/src/helpers/userInfo.tsx
  packages/cpt-ui/src/pages/BasicDetailsSearchResultsPage.tsx
  packages/cpt-ui/src/pages/LoginPage.tsx
  packages/cpt-ui/src/pages/LogoutPage.tsx
  packages/cpt-ui/src/pages/PrescriptionDetailsPage.tsx
  packages/cpt-ui/src/pages/PrescriptionListPage.tsx
  packages/cpt-ui/src/pages/SessionLoggedOut.tsx
  packages/cpt-ui/src/pages/SessionSelection.tsx
Due: lint-cpt-ui, lint-authFunctions

Fix: [AEA-0000] - Bump reg test version v3.4.12
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - Bump regression test version v3.4.12 (#1372)
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  7c4dfa65263368b04b9b7bfc5b34ceee520d2fc3
Due: none

update releases for qa
  _data/qa_deployments.csv
  _data/qa_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
