Repository NHSDigital/eps-prescription-tracker-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-cpt-ui, lint-cognito, lint-pdsClient, lint-middyErrorHandler, lint-commonTypes, lint-lambdaUtils, lint-common-testing, lint-prescriptionListLambda, lint-patientSearchLambda, lint-trackerUserInfoLambda, lint-sessionManagementLambda, lint-CIS2SignOutLambda, lint-selectedRoleLambda, lint-authFunctions, lint-doHSClient, lint-dynamoFunctions, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-cpt-ui:
  name: Lint cpt-ui
  entry: npm
  args:
  - run
  - --prefix=packages/cpt-ui
  - lint
  language: system
  pass_filenames: false

lint-cognito:
  name: Lint cognito
  entry: npm
  args:
  - run
  - --prefix=packages/cognito
  - lint
  language: system
  pass_filenames: false

lint-pdsClient:
  name: Lint pdsClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/pdsClient
  - lint
  language: system
  pass_filenames: false

lint-middyErrorHandler:
  name: Lint middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-commonTypes:
  name: Lint commonTypes
  entry: npm
  args:
  - run
  - --prefix=packages/common/commonTypes
  - lint
  language: system
  pass_filenames: false

lint-lambdaUtils:
  name: Lint lambdaUtils
  entry: npm
  args:
  - run
  - --prefix=packages/common/lambdaUtils
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common-testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-prescriptionListLambda:
  name: Lint prescriptionListLambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionListLambda
  - lint
  language: system
  pass_filenames: false

lint-patientSearchLambda:
  name: Lint patientSearchLambda
  entry: npm
  args:
  - run
  - --prefix=packages/patientSearchLambda
  - lint
  language: system
  pass_filenames: false

lint-trackerUserInfoLambda:
  name: Lint trackerUserInfoLambda
  entry: npm
  args:
  - run
  - --prefix=packages/trackerUserInfoLambda
  - lint
  language: system
  pass_filenames: false

lint-sessionManagementLambda:
  name: Lint sessionManagementLambda
  entry: npm
  args:
  - run
  - --prefix=packages/sessionManagementLambda
  - lint
  language: system
  pass_filenames: false

lint-CIS2SignOutLambda:
  name: Lint CIS2SignOutLambda
  entry: npm
  args:
  - run
  - --prefix=packages/CIS2SignOutLambda
  - lint
  language: system
  pass_filenames: false

lint-selectedRoleLambda:
  name: Lint selectedRoleLambda
  entry: npm
  args:
  - run
  - --prefix=packages/selectedRoleLambda
  - lint
  language: system
  pass_filenames: false

lint-authFunctions:
  name: Lint authFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/authFunctions
  - lint
  language: system
  pass_filenames: false

lint-doHSClient:
  name: Lint doHSClient
  entry: npm
  args:
  - run
  - --prefix=packages/common/doHSClient
  - lint
  language: system
  pass_filenames: false

lint-dynamoFunctions:
  name: Lint dynamoFunctions
  entry: npm
  args:
  - run
  - --prefix=packages/common/dynamoFunctions
  - lint
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

fixed synth issues
  package-lock.json
Due: none

fixed synth issues
  package-lock.json
  package.json
Due: none

fixed synth issues
  .trivyignore.yaml
  audit_report.json
  package.json
Due: none

fixed trivy
  .trivyignore.yaml
Due: none

added new ignore
  .trivyignore.yaml
Due: none

Trivy exclusion for fast-xml-parser dependency of aws-cdk
  .trivyignore.yaml
Due: none

fixed skip link focus and updated trivyignore
  .trivyignore.yaml
  packages/cpt-ui/__tests__/EpsHeader.test.tsx
  packages/cpt-ui/__tests__/HeaderStrings.test.ts
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/components/EpsHeader.tsx
  packages/cpt-ui/src/constants/ui-strings/HeaderStrings.ts
  packages/cpt-ui/src/helpers/useFocusManagement.tsx
  packages/staticContent/404.html
Due: lint-cpt-ui

lambda name plus trivyignore
  .trivyignore.yaml
  packages/cdk/resources/api/apiFunctions.ts
Due: lint-cdk

Chore: [AEA-0000] - added new ignore (#1795)
  .trivyignore.yaml
Due: none

added functionality
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/helpers/useFocusManagement.tsx
Due: lint-cpt-ui

update releases for dev
  _data/dev_deployments.csv
  _data/dev_latest.csv
Due: none

code coverage
  packages/cpt-ui/__tests__/App.test.tsx
  packages/cpt-ui/src/helpers/useFocusManagement.tsx
Due: lint-cpt-ui

Path changes & initial repairs of tests as path has changed but also reduce flakyness
  packages/cpt-ui/__tests__/AccessProvider.test.tsx
  packages/cpt-ui/__tests__/BasicDetailsSearchResultsPage.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionList.test.tsx
  packages/cpt-ui/__tests__/EpsPrescriptionSearch.test.tsx
  packages/cpt-ui/__tests__/EpsSearchForAPrescription.test.tsx
  packages/cpt-ui/__tests__/HeaderStrings.test.ts
  packages/cpt-ui/__tests__/LoginFunctions.test.tsx
  packages/cpt-ui/__tests__/PrescriptionDetailsPage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageCoverage.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageEnhanced.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageInputDetection.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPageKeyboard.test.tsx
  packages/cpt-ui/__tests__/SearchPrescriptionPagePaths.test.tsx
  packages/cpt-ui/__tests__/SearchResultsTooManyMessage.test.tsx
  packages/cpt-ui/__tests__/SessionLoggedOutPage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/jest.setup.ts
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/context/NavigationProvider.tsx
  packages/cpt-ui/src/pages/SearchPrescriptionPage.tsx
Due: lint-cpt-ui

test coverage plus making focus more robust
  packages/cpt-ui/__tests__/useFocusManagement.test.tsx
  packages/cpt-ui/src/App.tsx
Due: lint-cpt-ui

[AEA-6163] add chunking logic for roles for rum logs
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Test repairs and increase robustness
  packages/cpt-ui/__tests__/NavigationProvider.test.tsx
  packages/cpt-ui/__tests__/PatientNotFoundMessage.test.tsx
  packages/cpt-ui/__tests__/SearchResultsTooManyMessage.test.tsx
  packages/cpt-ui/__tests__/SessionSelectionPage.test.tsx
  packages/cpt-ui/__tests__/YourSelectedRole.test.tsx
  packages/cpt-ui/package.json
  packages/cpt-ui/src/components/tab-set/components/Tab.tsx
  packages/cpt-ui/src/constants/ui-strings/SearchTabStrings.ts
  packages/cpt-ui/src/main.tsx
Due: lint-cpt-ui

[AEA-0000] add new trivy ignore
  .trivyignore.yaml
Due: none

clean up plus hopefully fixed auth issues on lambda
  package-lock.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/RestApiGateway/RestApiGatewayMethods.ts
  packages/cognito/tests/test_token.cis2.test.ts
  packages/cpt-ui/src/helpers/sessionManagement.tsx
  packages/testingSupport/clearActiveSessionsTimeout/.jest/setEnvVars.js
  packages/testingSupport/fakeTimerLambda/.jest/setEnvVars.js
  packages/testingSupport/fakeTimerLambda/tests/test_handler.test.ts
Due: lint-cdk, lint-cpt-ui, lint-cognito

added missed label
  packages/cpt-ui/src/components/EpsHeader.tsx
Due: lint-cpt-ui

[AEA-6163] added comments
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

added to trivyignore
  .trivyignore.yaml
Due: none

made the focus management less aggressive for testing
  .trivyignore.yaml
  packages/cpt-ui/src/App.tsx
Due: lint-cpt-ui

made lambda paramterised to accept different minute values
  packages/testingSupport/fakeTimerLambda/src/handler.ts
  packages/testingSupport/fakeTimerLambda/tests/test_handler.test.ts
Due: none

reverted the lambda
  packages/testingSupport/fakeTimerLambda/src/handler.ts
  packages/testingSupport/fakeTimerLambda/tests/test_handler.test.ts
Due: none

Chore: [AEA-0000] - Add new trivy ignore (#1799)
  .trivyignore.yaml
Due: none

Fix: [AEA-6163] - Split log into multiple events (#1794)
  packages/cpt-ui/__tests__/EpsRoleSelectionPage.test.tsx
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

refactor plus added test id
  packages/cpt-ui/src/components/SessionTimeoutModal.tsx
  packages/cpt-ui/src/hooks/useSessionTimeout.ts
Due: lint-cpt-ui

refactored
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/helpers/useFocusManagement.tsx
Due: lint-cpt-ui

refactored
  packages/cpt-ui/__tests__/App.test.tsx
  packages/cpt-ui/src/App.tsx
  packages/cpt-ui/src/helpers/useFocusManagement.tsx
Due: lint-cpt-ui

[AEA-6163] test rum logging
  packages/cpt-ui/src/helpers/logger.tsx
Due: lint-cpt-ui

[AEA-6163] add logging to RUM support #skip-qc
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/constants/environment.ts
  packages/cpt-ui/src/helpers/logger.tsx
  packages/cpt-ui/src/styles/nhsuk-frontend-v10-notification-banner.scss
Due: lint-cpt-ui

[AEA-6163] add tests
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
  packages/cpt-ui/src/constants/environment.ts
Due: lint-cpt-ui

[AEA-6163] misc clean up
  packages/cpt-ui/src/components/EpsRoleSelectionPage.tsx
Due: lint-cpt-ui

Logger tests WIP
  packages/cpt-ui/__tests__/Logger.test.tsx
Due: lint-cpt-ui

Log when a user lands on redirection page
  packages/cpt-ui/src/pages/LoadingPage.tsx
Due: lint-cpt-ui

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpt-ui: any of: ^packages\/cpt-ui and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cognito: any of: ^packages\/cognito and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-pdsClient: any of: ^packages\/common\/pdsClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-middyErrorHandler: any of: ^packages\/common\/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTypes: any of: ^packages\/common\/commonTypes and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-lambdaUtils: any of: ^packages\/common\/lambdaUtils and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescriptionListLambda: any of: ^packages\/prescriptionListLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-patientSearchLambda: any of: ^packages\/patientSearchLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-trackerUserInfoLambda: any of: ^packages\/trackerUserInfoLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sessionManagementLambda: any of: ^packages\/sessionManagementLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-CIS2SignOutLambda: any of: ^packages\/CIS2SignOutLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-selectedRoleLambda: any of: ^packages\/selectedRoleLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-authFunctions: any of: ^packages\/common\/authFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-doHSClient: any of: ^packages\/common\/doHSClient and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-dynamoFunctions: any of: ^packages\/common\/dynamoFunctions and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
